---
title: Buttons
area: docs
section: components
list-order: 5
---

<div class="section-header">
  <h2 id="section-buttons">Buttons</h2>
  <p class="sub">
    <span class="file-ref">buttons.less</span>
  </p>
</div>

<p>Petal features a complex button style generator inside the LESS code to make adding new color sets as simple as possible.</p>

<h3 id="section-buttons-basic">Basic Button</h3>
<div class="demo-panel p-15">
  <div class="block">
    <button class="btn">Button</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<button class="btn"></button>
```
{{/markdown}}
</div>

<p>To make a button, simply add the <code>.btn</code> class, presumably to a <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> element.</p>

<h4>Button Style Options</h4>
<div class="demo-panel">
  <div class="row">
    <div class="col-2">
      <div class="p-15">
        <button class="btn hollow">Button</button>
        <button class="btn compact">Button</button>
      </div>
    </div>
    <div class="col-2">
      <div class="dark p-15">
        <button class="btn hollow whitetext">Button</button>
      </div>
    </div>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<button class="btn hollow">Button</button>
<button class="btn compact">Button</button>

<button class="btn hollow whitetext">Button</button>
```
{{/markdown}}
</div>

<p>Add <code>.hollow</code> to your button to get an outline-only style. Add <code>.compact</code> for a smaller sized version with reduced padding.</p>
<p><code>.whitetext</code> class is used when you want to force white-colored text—useful when used with 'hollow' style on dark backgrounds.</p>

<h4>Disabled Button</h4>
<div class="demo-panel p-15">
  <div class="block">
    <button class="btn disabled">Button</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<button class="btn disabled" disabled>Button</button>
```
{{/markdown}}
</div>

<p>Use the <code>:disabled</code> attribute or <code>.disabled</code> class to visually disable the button.</p>

<h4>Button Colors</h4>
<p>By default, Petal provides 3 button colors for easy use:</p>

<div class="demo-panel p-15 cf" data-toggle-bg="toggle">
  <div class="block">
    <a href="#" class="btn">Button</a>
    <p class="clabel"><code>.btn</code></p>
  </div>
  <div class="block">
    <a href="#" class="btn blue">Button</a>
    <p class="clabel"><code>.btn.blue</code></p>
  </div>
  <div class="block">
    <a href="#" class="btn green">Button</a>
    <p class="clabel"><code>.btn.green</code></p>
  </div>
  <div class="block">
    <a href="#" class="btn red">Button</a>
    <p class="clabel"><code>.btn.red</code></p>
  </div>
</div>

<p>Just add the color names as classes along with the <code>.btn</code> class to change the button color. If you don't explicitly specify the button color, it will follow whatever color is set as your <code>@primary-accent-color</code> (default is blue).</p>

<h4>Generating additional color buttons</h4>

<p>If you have <a href="colors.html#section-colors-adding-more">added your own custom colors</a> to the palette, you easily generate button styles with those colors. Make sure you added your colors as variables in your project variables sheet:</p>

<div class="demo-code">
{{#markdown}}
``` less
// my custom colors
@purple: #c37dc4;
@orange: #f1a85b;
```
{{/markdown}}
</div>

<p>Then you want to generate buttons with these colors by adding to the list as defined in the <code>@btn-colors</code> variable. Separate color names with commas.</p>

<div class="demo-code">
{{#markdown}}
``` less
// buttons
@btn-colors: blue, green, purple, orange;
```
{{/markdown}}
</div>

<p>Now when you compile your stylesheet, you'll see that <code>.btn.purple</code> and <code>.btn.orange</code> classes are generated. Use the class on buttons as you would with other colored buttons.</p>

<div class="demo-panel p-15">
  <div class="block">
    <button class="btn orange">Button</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<button class="btn orange"></button>
```
{{/markdown}}
</div>

<p>When generating colored button styles, Petal automatically calculates the button text color to be either white or black depending on the color of the button for legibility. If you want to manually override this settings, modify the <code>@btn-text-color-contrast-threshold</code> variable to change the results (default is 60%). Setting this to 0% will always make the button text color black.</p>

<div class="alert accent"><span class="alert-icon"><i class="petalicon petalicon-notice"></i></span> <span class="alert-text">Overriding <code>@btn-colors</code> variable is completely optional; if you don't specify your own override for the button colors, the default set (blue, green, red) will be generated. However, if you do override the <code>@btn-colors</code> variable but don't have blue, green, red included in list, they will not be included in final output.</span></div>
<div class="alert accent"><span class="alert-icon"><i class="petalicon petalicon-notice"></i></span> <span class="alert-text">The 'custom' optional parameter that existed for the <code>.generate-btn()</code> mixin has been deprecated since 0.9.0.</span></div>

<br>

<h3 id="section-buttons-groups">Button groups</h3>
<div class="demo-panel p-15" data-toggle-bg="toggle">
  <div class="btn-group">
    <button class="btn">Button</button>
    <button class="btn green">Button</button>
    <button class="btn red">Button</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group">
  <button class="btn">Button</button>
  <button class="btn green">Button</button>
  <button class="btn red">Button</button>
</div>
```
{{/markdown}}
</div>

<p>Put the <code>.btn</code>s inside a <code>.btn-group</code> and they will become inline blocks.</p>

<br>

<h3 id="section-buttons-segmented-groups">
  Segmented button groups
  <a href="javascript.html"><span class="badge warning js-req">Requires JavaScript</span></a>
</h3>
<div class="demo-panel p-15" data-toggle-bg="toggle">
  <div class="btn-group btn-group-segmented">
    <button class="btn hollow active" data-toggle="toggle" data-toggle-state="active">Button</button>
    <button class="btn hollow" data-toggle="toggle">Button</button>
    <button class="btn hollow disabled" data-toggle="toggle">Button</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group btn-group-segmented">
  <button class="btn hollow active" data-toggle="toggle" data-toggle-state="active">Button</button>
  <button class="btn hollow" data-toggle="toggle">Button</button>
  <button class="btn hollow disabled" data-toggle="toggle">Button</button>
</div>
```
{{/markdown}}
</div>

<p>Add <code>.btn-group-segmented</code> with <code>.btn-group</code> to remove the space inbetween buttons in a button group to make them visually look like segmented buttons. Petal doesn't provide preset functions for segmented buttons, however. You'll need to manually write your javascript code to make them actually work--or, use the <a href="forms.html#section-forms-segmented-radio">radiobox method</a>.</p>

<p>Use <code>.disabled</code> class on buttons to disable each buttons, or add <code>.disabled</code> on the <code>btn-group</code> to disable the whole group.</p>

<br>

<h3 id="section-buttons-toggle">
  Toggle Buttons
  <a href="javascript.html"><span class="badge warning js-req">Requires JavaScript</span></a>
</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
  <div class="btn-group">
    <button class="btn hollow blue active" data-toggle="toggle" data-toggle-state="active">Toggle</button>
    <button class="btn hollow blue" data-toggle="toggle">Toggle</button>
    <button class="btn green" data-toggle="toggle">Toggle</button>
    <button class="btn red" data-toggle="toggle">Toggle</button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<button class="btn" data-toggle="toggle">Toggle</button>
```
{{/markdown}}
</div>

<p>Add <code>data-toggle="toggle"</code> on the button to make it toggleable.</p>

<br>

<h3 id="section-buttons-dropdowns">
  Button Dropdowns
  <a href="javascript.html"><span class="badge warning js-req">Requires JavaScript</span></a>
</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
  <div class="btn-group">
    <div class="btn-group">
      <button class="btn dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li class="divider"></li>
        <li><a href="#">Menu item 3</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn hollow dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li class="divider"></li>
        <li class="submenu">
          <a href="#">Submenu 1</a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu item 1</a></li>
            <li><a href="#">Submenu item 2</a></li>
          </ul>
        </li>
        <li><a href="#">Menu item 3</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn green dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li class="divider"></li>
        <li><a href="#">Menu item 3</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn white dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li class="divider"></li>
        <li class="submenu">
          <a href="#">Submenu 1</a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu item 1</a></li>
            <li><a href="#">Submenu item 2</a></li>
          </ul>
        </li>
        <li><a href="#">Menu item 3</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn red dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li class="divider"></li>
        <li><a href="#">Menu item 3</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group">
  <button class="btn hollow dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Menu item 1</a></li>
    <li><a href="#">Menu item 2</a></li>
    <li class="divider"></li>
    <li class="submenu">
      <a href="#">Submenu 1</a>
      <ul class="dropdown-menu">
        <li><a href="#">Submenu item 1</a></li>
        <li><a href="#">Submenu item 2</a></li>
      </ul>
    </li>
    <li><a href="#">Menu item 3</a></li>
  </ul>
</div>
```
{{/markdown}}
</div>

<p>Attach a <code>&lt;ul&gt;</code> structured list menu with appropriate markups right after the <code>.btn</code>. The <code>.dropdown</code> class and <code>data-toggle="dropdown"</code> attributes are required to activate the toggle function. </p>

<p>The <code>.btn-group</code> class on parent element is required (0.9.0+) for the dropdown style to apply properly.</p>

<p>With default settings, the colors of the dropdown menu and the items will follow the color of the button. If you don't want this, set <code>@btn-disable-colored-dropdown</code> to <code>false</code> and you will always get plain white background colors.</p>

<br>

<h4>Dropdown - Split button variant</h4>

<div class="demo-panel p-15" data-toggle-bg="toggle">
  <div class="btn-group btn-split">
    <div class="btn-group">
      <button class="btn green">Button</button>
      <button class="btn green dropdown" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu" data-dropdown-align="right">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
      </ul>
    </div>
    <div class="btn-group btn-split">
      <button class="btn red">Button</button>
      <button class="btn red dropdown" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu" data-dropdown-align="right">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
      </ul>
    </div>
    <div class="btn-group btn-split">
      <button class="btn blue hollow">Button</button>
      <button class="btn blue hollow dropdown" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu" data-dropdown-align="right">
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group btn-split">
  <button class="btn green">Button</button>
  <button class="btn green dropdown" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu" data-dropdown-align="right">
    <li><a href="#">Menu item 1</a></li>
    <li><a href="#">Menu item 2</a></li>
  </ul>
</div>
```
{{/markdown}}
</div>


<p>Put two <code>.btn</code>s inside a <code>.btn-group.btn-split</code> wrapper element (<code>.btn-split</code> class required for 0.5.0+). For the smaller button on the right, insert the caret for the content; attach <code>.dropdown</code> class as well as the <code>data-toggle="dropdown"</code> attribute.</p>

<p>If you're using the <code>.compact</code> option, you need to apply them to both the actual button and the dropdown caret button.</p>

<h5>Options</h5>
<ul>
  <li><code>data-dropdown-align="right"</code> on <code>ul.dropdown-menu</code> : Align the menu to the right.</li>
  <li><code>@include-btn-dropdown</code> : set to <code>false</code> if you're not going to use any button dropdowns in your project. Related code will not be included in compiled stylesheet.</li>
  <li><code>@include-btn-split</code> : set to <code>false</code> if you're not going to use any split buttons in your project. (Split button requires the button dropdown styles, so if you have <code>@include-btn-dropdown</code> set to false, split buttons will not render properly regardless the value of <code>@include-btn-split</code>.)</li>
  <li><code>@btn-disable-colored-dropdown</code> : set to <code>false</code> if you don't want colored dropdown menus. You'll get black-on-white menus regardless of the button color.</li>
</ul>


<br>


<h3 id="section-buttons-spinners">
  Buttons with spinners
  <a href="javascript.html"><span class="badge warning js-req">Requires JavaScript</span></a>
</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
  <label class="form-label">Spinner/Icons on left</label>
  <div class="btn-group">
    <button class="btn green btn-spinner" data-btn-type="save">Apply</button>
    <button class="btn btn-spinner has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
    <button class="btn btn-spinner white has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
  </div>
  <div class="btn-group">
    <button class="btn compact green btn-spinner" data-btn-type="save">Apply</button>
    <button class="btn compact btn-spinner has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
    <button class="btn compact btn-spinner white has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
  </div>

  <br>

  <label class="form-label">Spinner/Icons on right</label>
  <div class="btn-group">
    <button class="btn green btn-spinner icon-right" data-btn-type="save">Apply</button>
    <button class="btn btn-spinner icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
    <button class="btn btn-spinner white icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>

  </div>
  <div class="btn-group">
    <button class="btn compact green btn-spinner icon-right" data-btn-type="save">Apply</button>
    <button class="btn compact btn-spinner icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
    <button class="btn compact btn-spinner white icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
  </div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<!-- Plain button -->
<button class="btn btn-spinner">Save</button>

<!-- With preexisting icon -->
<button class="btn btn-spinner icon-right has-icon">Save <i class="petalicon petalicon-save"></i></button>

```
{{/markdown}}
</div>


<p>Spinners inside buttons are useful when you want to indicate progress following the action called by the button. Just add <code>.btn-spinner</code> class on a <code>.btn</code>, then dynamically append <code>.loading</code> class with javascript to insert an animated spinner.</p>

<p>As the example above, after the progress is finished you can change the <code>.loading</code> class to <code>.loading-done</code> before removing class to indicate end of progress.</p>

<h5>Options</h5>

<ul>
  <li><code>.has-icon</code> : Use when button already has a Petalicon icon in it (only works for <code>&lt;i class="petalicon ~"&gt;</code>) </li>
  <li><code>.icon-right</code> : Display spinner on the right / when an icon already exists inside the button (after text)</li>
</ul>

<p><b>Note:</b> Hollow style icons are not supported. Compact size icons are supported. When generating custom-colored icons with lighter colors where text is not white, spinner may not appear.</p>

<div class="alert warning">
  <span class="alert-icon"><i class="petalicon petalicon-warning"></i></span>
  <div class="alert-text"><h5>Button styles that don't support spinners</h5>
  <ul>
    <li>Hollow style (<code>.hollow</code>) buttons are not supported. (The spinner will be invisible.)</li>
    <li>If you're using custom-generated buttons with lighter colors where text displays as black, spinner will be invisible as well.
  </ul>
</div></div>

<br>

<h3>Customizable LESS variables</h3>
<div class="demo-code">
{{#markdown}}
``` less
// buttons
@include-btn-dropdown: true;
@include-btn-split: true;
@btn-disable-colored-dropdown: false;
@btn-border-width: 2px;
@btn-border-radius: 0;
@btn-font-size: 0.9em;
@btn-font-weight: 900;
@btn-letter-spacing: 2px;
@btn-line-height: 1.2;
@btn-dropdown-menu-item-font-size: 0.9em;
@gray-disabled-btn: false;
@btn-disable-transition: false;
@btn-disable-shadows: false;
@btn-spinner-animation-duration: 0.4s;
@btn-text-color-contrast-threshold: 60%;
@btn-colors: blue, green, red, black, gray, white;
```
{{/markdown}}
</div>
