---
title: Color Palette
area: docs
section: intro
list-order: 2
---

<div class="section-header">
    <h2>Petal Color Palette</h2>
    <p class="sub">
        <span class="file-ref">color-palette.less</span>
    </p>
</div>

<p>Petal provides a number of preset colors with 4 additional shades. Colors and shades are a crucial part of Petal's design so they are always imported along with the default variables.</p>

<p>This page displays lists the default preset color included in Petal. You can use any of these colors as variables in your projects: just call them by the original names or the shades (For example, a <code>d2</code> shade of orange would be <code>@orange-d2</code>.)</p>

<p>Petal also provides some quick utility classes for applying these colors on your text or background: learn more about them <a href="colors.html">here</a>.</p>

<br>

<div class="color-patch-table">
  <div class="color-patch-columns-label">
    <span>l2</span>
    <span>l1</span>
    <span class="base">Base</span>
    <span>d1</span>
    <span>d2</span>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@red</code></b></div>
    <div class="color-patch red-l2"></div>
    <div class="color-patch red-l1"></div>
    <div class="color-patch red base"></div>
    <div class="color-patch red-d1"></div>
    <div class="color-patch red-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@peach</code></b></div>
    <div class="color-patch peach-l2"></div>
    <div class="color-patch peach-l1"></div>
    <div class="color-patch peach base"></div>
    <div class="color-patch peach-d1"></div>
    <div class="color-patch peach-d2"></div>
  </div>

   <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@orange</code></b></div>
    <div class="color-patch orange-l2"></div>
    <div class="color-patch orange-l1"></div>
    <div class="color-patch orange base"></div>
    <div class="color-patch orange-d1"></div>
    <div class="color-patch orange-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@gold</code></b></div>
    <div class="color-patch gold-l2"></div>
    <div class="color-patch gold-l1"></div>
    <div class="color-patch gold base"></div>
    <div class="color-patch gold-d1"></div>
    <div class="color-patch gold-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@yellow</code></b></div>
    <div class="color-patch yellow-l2"></div>
    <div class="color-patch yellow-l1"></div>
    <div class="color-patch yellow base"></div>
    <div class="color-patch yellow-d1"></div>
    <div class="color-patch yellow-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@green</code></b></div>
    <div class="color-patch green-l2"></div>
    <div class="color-patch green-l1"></div>
    <div class="color-patch green base"></div>
    <div class="color-patch green-d1"></div>
    <div class="color-patch green-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@teal</code></b></div>
    <div class="color-patch teal-l2"></div>
    <div class="color-patch teal-l1"></div>
    <div class="color-patch teal base"></div>
    <div class="color-patch teal-d1"></div>
    <div class="color-patch teal-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@blue</code></b></div>
    <div class="color-patch blue-l2"></div>
    <div class="color-patch blue-l1"></div>
    <div class="color-patch blue base"></div>
    <div class="color-patch blue-d1"></div>
    <div class="color-patch blue-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@purple</code></b></div>
    <div class="color-patch purple-l2"></div>
    <div class="color-patch purple-l1"></div>
    <div class="color-patch purple base"></div>
    <div class="color-patch purple-d1"></div>
    <div class="color-patch purple-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@pink</code></b></div>
    <div class="color-patch pink-l2"></div>
    <div class="color-patch pink-l1"></div>
    <div class="color-patch pink base"></div>
    <div class="color-patch pink-d1"></div>
    <div class="color-patch pink-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@brown</code></b></div>
    <div class="color-patch brown-l2"></div>
    <div class="color-patch brown-l1"></div>
    <div class="color-patch brown base"></div>
    <div class="color-patch brown-d1"></div>
    <div class="color-patch brown-d2"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@gray</code></b></div>
    <div class="color-patch gray-l2"></div>
    <div class="color-patch gray-l1"></div>
    <div class="color-patch gray base"></div>
    <div class="color-patch gray-d1"></div>
    <div class="color-patch gray-d2"></div>
  </div>
</div>
