---
title: Color Palette
area: docs
section: intro
list-order: 2
---

<div class="section-header">
    <h2>Petal Color Palette</h2>
    <p class="sub">
        <span class="file-ref">color-palette.less</span>
    </p>
</div>

<p>Petal provides a number of preset colors with 4 additional shades. Colors and shades are a crucial part of Petal's design so they are always imported along with the default variables.</p>

<p>This page displays lists the default preset color included in Petal. You can use any of these colors as variables in your projects: just call them by the original names or the shades (For example, a <code>d2</code> shade of orange would be <code>@orange-d2</code>.)</p>

<p>Petal also provides some quick utility classes for applying these colors on your text or background: learn more about them <a href="colors.html">here</a>.</p>

<br>

<div class="color-patch-table">
  <div class="color-patch-columns-label">
    <span>l6</span>
    <span>l5</span>
    <span>l4</span>
    <span>l3</span>
    <span>l2</span>
    <span>l1</span>
    <span class="base">Base</span>
    <span>d1</span>
    <span>d2</span>
    <span>d3</span>
    <span>d4</span>
    <span>d5</span>
    <span>d6</span>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@red</code></b></div>
    <div class="color-patch c-red-l6"></div>
    <div class="color-patch c-red-l5"></div>
    <div class="color-patch c-red-l4"></div>
    <div class="color-patch c-red-l3"></div>
    <div class="color-patch c-red-l2"></div>
    <div class="color-patch c-red-l1"></div>
    <div class="color-patch c-red base"></div>
    <div class="color-patch c-red-d1"></div>
    <div class="color-patch c-red-d2"></div>
    <div class="color-patch c-red-d3"></div>
    <div class="color-patch c-red-d4"></div>
    <div class="color-patch c-red-d5"></div>
    <div class="color-patch c-red-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@peach</code></b></div>
    <div class="color-patch c-peach-l6"></div>
    <div class="color-patch c-peach-l5"></div>
    <div class="color-patch c-peach-l4"></div>
    <div class="color-patch c-peach-l3"></div>
    <div class="color-patch c-peach-l2"></div>
    <div class="color-patch c-peach-l1"></div>
    <div class="color-patch c-peach base"></div>
    <div class="color-patch c-peach-d1"></div>
    <div class="color-patch c-peach-d2"></div>
    <div class="color-patch c-peach-d3"></div>
    <div class="color-patch c-peach-d4"></div>
    <div class="color-patch c-peach-d5"></div>
    <div class="color-patch c-peach-d6"></div>
  </div>

   <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@orange</code></b></div>
    <div class="color-patch c-orange-l6"></div>
    <div class="color-patch c-orange-l5"></div>
    <div class="color-patch c-orange-l4"></div>
    <div class="color-patch c-orange-l3"></div>
    <div class="color-patch c-orange-l2"></div>
    <div class="color-patch c-orange-l1"></div>
    <div class="color-patch c-orange base"></div>
    <div class="color-patch c-orange-d1"></div>
    <div class="color-patch c-orange-d2"></div>
    <div class="color-patch c-orange-d3"></div>
    <div class="color-patch c-orange-d4"></div>
    <div class="color-patch c-orange-d5"></div>
    <div class="color-patch c-orange-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@gold</code></b></div>
    <div class="color-patch c-gold-l6"></div>
    <div class="color-patch c-gold-l5"></div>
    <div class="color-patch c-gold-l4"></div>
    <div class="color-patch c-gold-l3"></div>
    <div class="color-patch c-gold-l2"></div>
    <div class="color-patch c-gold-l1"></div>
    <div class="color-patch c-gold base"></div>
    <div class="color-patch c-gold-d1"></div>
    <div class="color-patch c-gold-d2"></div>
    <div class="color-patch c-gold-d3"></div>
    <div class="color-patch c-gold-d4"></div>
    <div class="color-patch c-gold-d5"></div>
    <div class="color-patch c-gold-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@yellow</code></b></div>
    <div class="color-patch c-yellow-l6"></div>
    <div class="color-patch c-yellow-l5"></div>
    <div class="color-patch c-yellow-l4"></div>
    <div class="color-patch c-yellow-l3"></div>
    <div class="color-patch c-yellow-l2"></div>
    <div class="color-patch c-yellow-l1"></div>
    <div class="color-patch c-yellow base"></div>
    <div class="color-patch c-yellow-d1"></div>
    <div class="color-patch c-yellow-d2"></div>
    <div class="color-patch c-yellow-d3"></div>
    <div class="color-patch c-yellow-d4"></div>
    <div class="color-patch c-yellow-d5"></div>
    <div class="color-patch c-yellow-d6"></div>
  </div>
</div>

<div class="color-patch-table">
  <div class="color-patch-columns-label">
    <span>l6</span>
    <span>l5</span>
    <span>l4</span>
    <span>l3</span>
    <span>l2</span>
    <span>l1</span>
    <span class="base">Base</span>
    <span>d1</span>
    <span>d2</span>
    <span>d3</span>
    <span>d4</span>
    <span>d5</span>
    <span>d6</span>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@green</code></b></div>
    <div class="color-patch c-green-l6"></div>
    <div class="color-patch c-green-l5"></div>
    <div class="color-patch c-green-l4"></div>
    <div class="color-patch c-green-l3"></div>
    <div class="color-patch c-green-l2"></div>
    <div class="color-patch c-green-l1"></div>
    <div class="color-patch c-green base"></div>
    <div class="color-patch c-green-d1"></div>
    <div class="color-patch c-green-d2"></div>
    <div class="color-patch c-green-d3"></div>
    <div class="color-patch c-green-d4"></div>
    <div class="color-patch c-green-d5"></div>
    <div class="color-patch c-green-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@teal</code></b></div>
    <div class="color-patch c-teal-l6"></div>
    <div class="color-patch c-teal-l5"></div>
    <div class="color-patch c-teal-l4"></div>
    <div class="color-patch c-teal-l3"></div>
    <div class="color-patch c-teal-l2"></div>
    <div class="color-patch c-teal-l1"></div>
    <div class="color-patch c-teal base"></div>
    <div class="color-patch c-teal-d1"></div>
    <div class="color-patch c-teal-d2"></div>
    <div class="color-patch c-teal-d3"></div>
    <div class="color-patch c-teal-d4"></div>
    <div class="color-patch c-teal-d5"></div>
    <div class="color-patch c-teal-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@blue</code></b></div>
    <div class="color-patch c-blue-l6"></div>
    <div class="color-patch c-blue-l5"></div>
    <div class="color-patch c-blue-l4"></div>
    <div class="color-patch c-blue-l3"></div>
    <div class="color-patch c-blue-l2"></div>
    <div class="color-patch c-blue-l1"></div>
    <div class="color-patch c-blue base"></div>
    <div class="color-patch c-blue-d1"></div>
    <div class="color-patch c-blue-d2"></div>
    <div class="color-patch c-blue-d3"></div>
    <div class="color-patch c-blue-d4"></div>
    <div class="color-patch c-blue-d5"></div>
    <div class="color-patch c-blue-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@purple</code></b></div>
    <div class="color-patch c-purple-l6"></div>
    <div class="color-patch c-purple-l5"></div>
    <div class="color-patch c-purple-l4"></div>
    <div class="color-patch c-purple-l3"></div>
    <div class="color-patch c-purple-l2"></div>
    <div class="color-patch c-purple-l1"></div>
    <div class="color-patch c-purple base"></div>
    <div class="color-patch c-purple-d1"></div>
    <div class="color-patch c-purple-d2"></div>
    <div class="color-patch c-purple-d3"></div>
    <div class="color-patch c-purple-d4"></div>
    <div class="color-patch c-purple-d5"></div>
    <div class="color-patch c-purple-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@pink</code></b></div>
    <div class="color-patch c-pink-l6"></div>
    <div class="color-patch c-pink-l5"></div>
    <div class="color-patch c-pink-l4"></div>
    <div class="color-patch c-pink-l3"></div>
    <div class="color-patch c-pink-l2"></div>
    <div class="color-patch c-pink-l1"></div>
    <div class="color-patch c-pink base"></div>
    <div class="color-patch c-pink-d1"></div>
    <div class="color-patch c-pink-d2"></div>
    <div class="color-patch c-pink-d3"></div>
    <div class="color-patch c-pink-d4"></div>
    <div class="color-patch c-pink-d5"></div>
    <div class="color-patch c-pink-d6"></div>
  </div>
</div>

<div class="color-patch-table">
  <div class="color-patch-columns-label">
    <span>l6</span>
    <span>l5</span>
    <span>l4</span>
    <span>l3</span>
    <span>l2</span>
    <span>l1</span>
    <span class="base">Base</span>
    <span>d1</span>
    <span>d2</span>
    <span>d3</span>
    <span>d4</span>
    <span>d5</span>
    <span>d6</span>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@brown</code></b></div>
    <div class="color-patch c-brown-l6"></div>
    <div class="color-patch c-brown-l5"></div>
    <div class="color-patch c-brown-l4"></div>
    <div class="color-patch c-brown-l3"></div>
    <div class="color-patch c-brown-l2"></div>
    <div class="color-patch c-brown-l1"></div>
    <div class="color-patch c-brown base"></div>
    <div class="color-patch c-brown-d1"></div>
    <div class="color-patch c-brown-d2"></div>
    <div class="color-patch c-brown-d3"></div>
    <div class="color-patch c-brown-d4"></div>
    <div class="color-patch c-brown-d5"></div>
    <div class="color-patch c-brown-d6"></div>
  </div>

  <div class="color-patch-group">
    <div class="color-patch-name-label"><b><code>@gray</code></b></div>
    <div class="color-patch c-gray-l6"></div>
    <div class="color-patch c-gray-l5"></div>
    <div class="color-patch c-gray-l4"></div>
    <div class="color-patch c-gray-l3"></div>
    <div class="color-patch c-gray-l2"></div>
    <div class="color-patch c-gray-l1"></div>
    <div class="color-patch c-gray base"></div>
    <div class="color-patch c-gray-d1"></div>
    <div class="color-patch c-gray-d2"></div>
    <div class="color-patch c-gray-d3"></div>
    <div class="color-patch c-gray-d4"></div>
    <div class="color-patch c-gray-d5"></div>
    <div class="color-patch c-gray-d6"></div>
  </div>
</div>
