---
title: Colors
area: docs
section: components
list-order: 4
---

<div class="section-header">
  <h2 id="section-colors">Colors</h2>
  <p class="sub">
    <span class="file-ref">colors.less</span>
  </p>
</div>

<p>Petal offers shades of the 3 colors from the Shakr color scheme as globally usable LESS variables: <code>@red</code>, <code>@green</code>, <code>@blue</code>. Append <code>-l1</code>, <code>-l2</code> for lighter shades, <code>-d1</code>, <code>-d2</code> for darker shades. </p>

<p>There are also some preset classes where you can quickly add text and background color properties.</p>

<br>

<div class="row">
  <div class="col-3">
    <h5>Text colors</h5>
    <p><div class="colorblock text-red-l2">Text</div><code>.text-red-l2</code></p>
    <p><div class="colorblock text-red-l1">Text</div><code>.text-red-l1</code></p>
    <p><div class="colorblock text-red">Text</div><code>.text-red</code></p>
    <p><div class="colorblock text-red-d1">Text</div><code>.text-red-d1</code></p>
    <p><div class="colorblock text-red-d2">Text</div><code>.text-red-d2</code></p>
  </div>
  <div class="col-3">
    <h5>BG colors</h5>
    <p><div class="colorblock text-white bg-green-l2">Text</div><code>.bg-green-l2</code></p>
    <p><div class="colorblock text-white bg-green-l1">Text</div><code>.bg-green-l1</code></p>
    <p><div class="colorblock text-white bg-green">Text</div><code>.bg-green</code></p>
    <p><div class="colorblock text-white bg-green-d1">Text</div><code>.bg-green-d1</code></p>
    <p><div class="colorblock text-white bg-green-d2">Text</div><code>.bg-green-d2</code></p>
  </div>
  <div class="col-3">
    <h5>Also, blue</h5>
    <p><div class="colorblock text-white bg-blue-l2">Text</div><code>.bg-blue-l2</code></p>
    <p><div class="colorblock text-white bg-blue-l1">Text</div><code>.bg-blue-l1</code></p>
    <p><div class="colorblock text-white bg-blue">Text</div><code>.bg-blue</code></p>
    <p><div class="colorblock text-white bg-blue-d1">Text</div><code>.bg-blue-d1</code></p>
    <p><div class="colorblock text-white bg-blue-d2">Text</div><code>.bg-blue-d2</code></p>
  </div>
</div>

<br>

<h3 id="section-colors-adding-more">Adding more colors</h3>
<p>To add custom colors, define them as variables in your variables sheet and you'll be able to use them throughout for customizing your own build of Petal.</p>

<div class="demo-code">
{{#markdown}}
``` less
// my custom colors
@purple: #c37dc4;
@orange: #f1a85b;
@teal: #21c5c7;
```
{{/markdown}}
</div>

<h3>Generating custom color preset classes</h3>
<p>After you have added your own colors, if you want to generate new preset utility classes with your colors, add them to the <code>@preset-colors</code> variable. Separate color names with commas.</p>

<div class="demo-code">
{{#markdown}}
``` less
@preset-colors: red, green, blue, orange, teal;
```
{{/markdown}}
</div>

<p>Then in the compiled result, you'll see the classes have been generated as such:</p>

<div class="demo-code">
{{#markdown}}
``` less
.text-orange { color: #f1a85b; }
.text-orange-l1 { color: #f5c088; }
.text-orange-l2 { color: #f9d7b3; }
.text-orange-d1 { color: #d59450; }
.text-orange-d2 { color: #b78045; }
.bg-orange { background-color: #f1a85b; }
.bg-orange-l1 { background-color: #f5c088; }
.bg-orange-l2 { background-color: #f9d7b3; }
.bg-orange-d1 { background-color: #d59450; }
.bg-orange-d2 { background-color: #b78045; }
...
```
{{/markdown}}
</div>

<br>

<h3>Setting your own primary accent color</h3>
<p>Many parts of Petal refer to the <code>@primary-accent-color</code> variable to use as the base color of things. By default the primary accent color is set to <code>@blue</code>, which means buttons, form input borders, checkboxes will all use the blue color as the common color.</p>

<p>After adding your own color to your variables sheet, change the value of <code>@primary-accent-color</code> to your desired color to apply the main color change to all elements.</p>

