---
title: JavaScript Functions
area: docs
section: intro
list-order: 3
---

<div class="section-header">
    <h2>Petal JavaScript Functions</h2>
</div>

<p>Most UI elements provided in Petal don't require additional JavaScript code to be functional (<a href="forms.html#section-forms-checkbox-radio">Checkboxes</a>, <a href="forms.html#section-forms-switches">Switches</a>, etc) because they are implemented in pure CSS. However for some UI components, Petal provides just the styles for them and does not include working functions. For those, you will have to implement JavaScript by yourself.</p>

<p>These elements that do require additional JavaScript for full functionality have the <span class="badge warning js-req">Requires JavaScript</span> label attached on section headers, so you'll know they won't work just by applying the HTML and CSS styles.</p>

<p>Among them, we offer a pre-built JavaScript file <b>petal.js</b> (and minified <b>petal.min.js</b>) that include functions for <a href="buttons.html#section-buttons-toggle">Toggle Buttons</a> and <a href="buttons.html#section-buttons-dropdowns">Button Dropdowns</a>. If you wish, you can use them right away just by embedding the script in your HTML:</p>

<div class="code-block">
{{#markdown}}
``` html
<script src="path/to/petal.min.js"></script>
```
{{/markdown}}
</div>

<h4>Selecter</h4>
<p>Additionally we provide another JavaScript file in Petal package: <b>jquery.fs.selecter.js</b>. This is the file forked from the <a href="https://github.com/Formstone/Selecter">Selecter jQuery Plugin</a> (by Ben Plum, MIT License). Petal's <a href="forms.html#section-buttons-selecter">selectbox replacement styles</a> is built around this plugin. If you want to use this, you'll need to include the <b>jquery.fs.selecter.js</b> file in your HTML as well as a compatible version of jQuery:</p>

<div class="code-block">
{{#markdown}}
``` html
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="path/to/jquery.fs.selecter.min.js"></script>
```
{{/markdown}}
</div>

