---
title: Utilities
area: docs
section: components
list-order: 3
---

<div class="section-header">
	<h2 id="section-utilities">Utilities</h2>
	<p class="sub">
		<span class="file-ref">utilities.less</span>
	</p>
</div>

<h3>Quick Margins &amp; Paddings</h3>
<p>Use quick preset classes to add margins and paddings to any elements:</p>

<div class="row pv-15">
	<div class="col-2">
		<h5>Margins</h5>
		<ul>
			<li><code>.m-xx</code> : Margin (All directions)</li>
			<li><code>.mv-xx</code> : Vertical margins (top+bottom)</li>
			<li><code>.mh-xx</code> : Horizontal margins (left+right)</li>
			<li><code>.mt-xx</code> : Top margin</li>
			<li><code>.mb-xx</code> : Bottom margin</li>
		</ul>
	</div>
	<div class="col-2">
		<h5>Paddings</h5>
		<ul>
			<li><code>.p-xx</code> : Padding (All directions)</li>
			<li><code>.pv-xx</code> : Vertical paddings (top+bottom)</li>
			<li><code>.ph-xx</code> : Horizontal paddings (left+right)</li>
			<li><code>.pt-xx</code> : Top padding</li>
			<li><code>.pb-xx</code> : Bottom padding</li>
		</ul>
	</div>
</div>

<p>Where <code>xx</code> is <code>5</code>,<code>10</code>,<code>15</code>,<code>20</code>.</p>