// * ================================= *
// *  Petal
// *  http://shakrmedia.github.io/petal
// *  Copyright 2015-2018 Shakr Media Co., Ltd.
// *  
// *  alerts.less - alerts
// * ================================= *

// import dependencies
@import (reference) 'color-palette.less';
@import (reference) 'mixins.less';

.alert {
	display: flex;
	padding: 15px 20px;
	margin: 0 0 10px 0;

	// inner paragraph styles
	p:last-child {
		margin-bottom: 0;
	}

	// alert icon
	.alert-icon {
		flex: 0 1 auto;
		margin-right: 7px;
		color: @gray-d2;
	}
	
	.alert-text {
		flex: 1 1 auto;
	}

	// large variant
	&.large {
		.alert-icon {
			margin-right: 15px;

			.petalicon {
				font-size: 32px;
				line-height: 32px;
			}
		}
	}

	// colors
	& {
		.colorset(@alert-color);
		background-color: @color-l2;

		.alert-icon {
			color: @color-d2;
		}
	}

	&.accent {
		.colorset(@alert-accent-color);
		background-color: @color-l2;

		.alert-icon {
			color: @color-d2;
		}
	}

	&.okay {
		.colorset(@alert-okay-color);
		background-color: @color-l2;

		.alert-icon {
			color: @color-d2;
		}
	}

	&.warning {
		.colorset(@alert-warning-color);
		background-color: @color-l2;

		.alert-icon {
			color: @color-d2;
		}
	}

	&.danger {
		.colorset(@alert-danger-color);
		background-color: @color-l2;

		.alert-icon {
			color: @color-d2;
		}
	}

	& when (@include-dark = true) {
		// dark style
		.dark &, &.ondark {
			& {
				.colorset(@alert-color);
				background-color: @color-d2;

				.alert-icon {
					color: @color-l2;
				}
			}

			&.accent {
				.colorset(@alert-accent-color);
				background-color: @color-d2;

				.alert-icon {
					color: @color-l2;
				}
			}

			&.okay {
				.colorset(@alert-okay-color);
				background-color: @color-d2;

				.alert-icon {
					color: @color-l2;
				}
			}

			&.warning {
				.colorset(@alert-warning-color);
				background-color: @color-d2;

				.alert-icon {
					color: @color-l2;
				}
			}

			&.danger {
				.colorset(@alert-danger-color);
				background-color: @color-d2;

				.alert-icon {
					color: @color-l2;
				}
			}
		}
	}
}