// * ================================= *
// *  Basic Formatting
// * ================================= *

html {
	width: auto;
	font-size: @base-font-size;
}

body {
	font-family: @base-font, "Helvetica Neue", "Arial", sans-serif;
	font-size: 1rem;
	line-height: @base-line-height;
	color: @base-font-color;
}

* {
	box-sizing: border-box;
}

code {
	margin: 0 1px;
	padding: 1px 5px;
	background: #f0f0f0;
	font-family: "Consolas", "Menlo", "Monaco", "Source Code Pro", monospace;
	font-size: 0.9em;
	letter-spacing: 0;
	text-transform: none;

	.dark & {
		background: #666;
	}
}

pre {
	padding: 0;
	margin: 0;
	background: #f0f0f0;
}

pre code {
	background: #f0f0f0;
	padding: 15px;
}

hr {
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	background: #ddd;

	[class^="col"] > &,
	.row > & {
		margin-left: -15px;
		margin-right: -15px;
	}
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	color: @red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
