// * ================================= *
// *  Petal
// *  http://shakrmedia.github.io/petal
// *  Copyright 2015-2019 Shakr Media Co., Ltd.
// *
// *  colors.less - color preset classes
// * ================================= *

// import dependencies
@import (reference) 'variables.less';

.generate-color-presets(@input-color) {
	.text-@{input-color} { color: @color; }
	.text-@{input-color}-l1 { color: @color-l1; }
	.text-@{input-color}-l2 { color: @color-l2; }
	.text-@{input-color}-l3 { color: @color-l3; }
	.text-@{input-color}-l4 { color: @color-l4; }
	.text-@{input-color}-l5 { color: @color-l5; }
	.text-@{input-color}-l6 { color: @color-l6; }
	.text-@{input-color}-d1 { color: @color-d1; }
	.text-@{input-color}-d2 { color: @color-d2; }
	.text-@{input-color}-d3 { color: @color-d3; }
	.text-@{input-color}-d4 { color: @color-d4; }
	.text-@{input-color}-d5 { color: @color-d5; }
	.text-@{input-color}-d6 { color: @color-d6; }

	.bg-@{input-color} { background-color: @color; }
	.bg-@{input-color}-l1 { background-color: @color-l1; }
	.bg-@{input-color}-l2 { background-color: @color-l2; }
	.bg-@{input-color}-l3 { background-color: @color-l3; }
	.bg-@{input-color}-l4 { background-color: @color-l4; }
	.bg-@{input-color}-l5 { background-color: @color-l5; }
	.bg-@{input-color}-l6 { background-color: @color-l6; }
	.bg-@{input-color}-d1 { background-color: @color-d1; }
	.bg-@{input-color}-d2 { background-color: @color-d2; }
	.bg-@{input-color}-d3 { background-color: @color-d3; }
	.bg-@{input-color}-d4 { background-color: @color-d4; }
	.bg-@{input-color}-d5 { background-color: @color-d5; }
	.bg-@{input-color}-d6 { background-color: @color-d6; }

	.colorset(@@input-color);
}

// generate color presets
.generate-all-color-presets(@colors; @index) when (@index > 0) {
	.generate-all-color-presets(@colors; (@index - 1));

	@preset-color: extract(@colors, @index);

	.generate-color-presets(~'@{preset-color}');
}

@preset-colors-length: length(@preset-colors);
.generate-all-color-presets(@preset-colors, @preset-colors-length);
