// * ================================= *
// *  Forms
// * ================================= *

// remove spinners
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, {
	-webkit-appearance: none;
}


// default style
input.input,
textarea.input {
	border: @input-border-width solid @gray-l1;
	border-radius: none;
	padding: (10px - @input-border-width) 10px;
	margin: 5px 0;
	font-size: 0.9rem;
	line-height: 1rem;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
	appearance: none;
	outline: none;

	&:hover {
		border-color: darken(@gray-l1,10%);
	}

	&:focus {
		border-color: @primary-accent-color;
		box-shadow: 0 2px 4px rgba(0,0,0,.1);
	}

	.dark &, &.ondark {
		border-color: @gray;
		background-color: fadeout(@black,60%);
		
		&:hover {
			border-color: @gray-l1;
		}
		&:focus {
			border-color: @primary-accent-color;
			background-color: fadeout(@black,30%);
		}
	}
}

.dark {
	input, textarea, label {
		color: #fff;
	}
}

// attribute styles
input.input,
textarea.input {

	&:invalid, &:invalid:hover {
		border-color: @warning-color;
	}

	&:disabled {
		border-color: @gray-l1;
		background: fadeout(@gray,80%);
	}
}

label.input-label {
	font-size: 0.8rem;
	font-weight: 900;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1rem;
	display: block;
	margin: 5px 0;
	padding-right: 5px;
}

.form-caption {
	font-size: 0.9em;
	color: @gray-d1;
	line-height: 1em;
	margin: 8px 0;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0;
	font-weight: normal;

	label & {
		display: inline-block;
		margin: 0;
		font-size: 1em;
	}
}

// form groups
.form-group {
	width: 100%;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: inherit;
	}

	.form-group {
		margin-bottom: 0;
	}

	label {
		display: block;
		width: 100%;
	}

	input.input,
	textarea.input {
		width: 100%;
		display: block;
	}

}


// input groups
.input-group {
	display: table;
	width: 100%;

	.input-addon {
		width: 1%;
		padding: (10px-@input-border-width) 10px;
		display: table-cell;
		margin: 0;
		background: fadeout(@gray-l2,50%);
		border: @input-border-width solid @gray-l1;
		font-size: 0.9rem;
		line-height: 1rem;
		border-right-width: 0;
	}

	.input-addon:last-child {
		border-right-width: @input-border-width;
		border-left-width: 0;
	}

	.btn-group {
		display: table-cell;
		vertical-align: middle;
		margin: 0 0 0 -1px;
		width: 1%;
		white-space: nowrap;
		font-size: 0pt;

		.btn {
			display: inline-block;
			float: none;
		}
	}

	input.input {
		display: table-cell;
		margin: 0;
	}
}


// inline form groups
.form-inline {
	.form-group {
		vertical-align: middle;
		display: inline-block;
		width: auto;
		margin-bottom: inherit;
	}

	.input-group {
		width: auto;
	}

	input[type="checkbox"].checkbox + label,
	input[type="radio"].radiobox + label {
		margin-right: 5px;
	}

	input.input {
		display: inline-block;
		width: auto;
	}

	label {
		display: inline-block;
		width: auto;
	}
}


// checkboxes and radioboxes
input[type="checkbox"].checkbox:checked,
input[type="checkbox"].checkbox:not(:checked),
input[type="radio"].radiobox:checked,
input[type="radio"].radiobox:not(:checked) {
	display: none;
}

input[type="checkbox"].checkbox + label,
input[type="radio"].radiobox + label {
	margin: 5px 0;
	position: relative;
	cursor: pointer;
	padding-left: (@checkbox-size + 5px);

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: @checkbox-size;
		height: @checkbox-size;
		border: 2px solid @gray-l1;
		background: #fff;
		border-radius: @checkbox-border-radius;
		box-sizing: border-box;
		transition: 0.2s;
	}

	&:hover:before {
		border-color: darken(@gray-l1,10%);
	}
	&:active:before {
		background: @gray-l2;
	}
}

input[type="checkbox"].checkbox + label,
input[type="radio"].radiobox + label　{
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: @checkbox-size;
		height: @checkbox-size;
		border-radius: @checkbox-border-radius;
		background-image: data-uri('../assets/checkmark-check.svg');
		background-size: cover;
		box-sizing: border-box;
		opacity: 0;

	}
}

input[type="radio"].radiobox + label　{
	&:after {
		width: (@checkbox-size - 10px);
		height: (@checkbox-size - 10px);
		margin: 5px;
		background-color: @blue-d1;
	}
}

input[type="checkbox"].checkbox:checked + label, 
input[type="radio"].radiobox:checked + label {
	&:after {
		opacity: 1;
	}
}

input[type="checkbox"].checkbox:disabled + label, 
input[type="radio"].radiobox:disabled + label {
	&:before, &:hover:before {
		background: @gray-l2;
		border-color: @gray-l1;
	}
}

// selectboxes

// from Selecter (https://github.com/Formstone/Selecter)

// Variables

@selecter-max-height:							260px;			// 260px, "none" to disable
@selecter-max-width:							true;			// true, "false" to disable

@selecter-text-color:							#222;			// #222
@selecter-font-size:							13px;			// 13px
@selecter-padding:								10px 15px;		// 10px 15px

@selecter-background-color:						#fff;			// #fff

@selecter-border-width:							1px;			// 1px
@selecter-border-color:							#ccc;			// #ccc
@selecter-border-radius-outside:				3px;			// 3px
@selecter-border-radius-inside:					2px;			// 2px

// Caret
@selecter-caret-color:							#ccc;			// #ccc
@selecter-caret-size:							5px;			// 5px

// Hover

@selecter-hover-text-color:						#333;			// #333
@selecter-hover-background-color:				#ccc;			// #ccc

// Selected

@selecter-selected-background-color:			#ccc;			// #ccc

// Open

@selecter-open-background-color:				#fff;			// #fff

// Options

@selecter-options-background-color:				#fff;			// #fff

// Group

@selecter-group-border-color:					#ccc;			// #ccc
@selecter-group-text-color:						#999;			// #999
@selecter-group-font-size:						11px;			// 11px
@selecter-group-padding:						10px 15px;		// 10px 15px
@selecter-group-text-transform:					uppercase;		// uppercase, "normal" to disable

// Disabled

@selecter-disabled-border-color:				#ccc;			// #ccc
@selecter-disabled-text-color:					#ccc;			// #ccc
@selecter-disabled-background-color:			#fff;			// #fff
@selecter-disabled-selected-background-color:	#fafafa;		// #fafafa

// Item

@selecter-item-text-color:						#222;			// #222
@selecter-item-font-size:						13px;			// 13px
@selecter-item-background-color:				#fff;			// #fff
@selecter-item-border-color:					#ccc;			// #ccc
@selecter-item-border-width:					1px;			// 1px
@selecter-item-padding:							10px 15px;		// 10px 15px
	
	// Item - Hover
	@selecter-item-hover-text-color:			#333;			// #333
	@selecter-item-hover-background-color:		#ccc;			// #ccc
	
	// Item - Selected

	@selecter-item-selected-color:				#eee;			// #eee

	// Item - Disabled

	@selecter-item-disabled-text-color:			#999;			// #999

// Shadows

@selecter-selected-box-shadow:		0 0 5px rgba(0, 0, 0, 0.1);		// 0 0 5px rgba(0, 0, 0, 0.1), "none" to disable
@selecter-options-box-shadow:		0 1px 4px rgba(0, 0, 0, 0.15);	// 0 1px 4px rgba(0, 0, 0, 0.15), "none" to disable


.selecter {
	position: relative;

	display: block;
	margin: 10px 0;
	z-index: 1;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	&,
	& * {
		user-select: none !important;
	}

	&,
	& *,
	& *:before,
	& *:after {
		box-sizing: border-box;
	}

	& when (@selecter-max-width = true) {
		max-width: 30%;
	}

	// .selecter-element
}

.selecter-element {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;

	opacity: 0;
	z-index: -1;

	&,
	&:focus {
		outline: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;
	}

	// IE8 - opacity check

	.no-opacity & {
		left: -999999px;
	}
}


// .selecter-selected

.selecter-selected {
	position: relative;

	background: @selecter-background-color;
	border: @selecter-border-width solid @selecter-border-color;
	color: @selecter-text-color;
	cursor: pointer;
	display: block;
	font-size: @selecter-font-size;
	margin: 0;
	overflow: hidden;
	padding: @selecter-padding;
	text-overflow: clip;
	z-index: 2;

	& when not (@selecter-border-radius-outside = 0) {
		border-radius: @selecter-border-radius-outside;
	}

	&:after {
		height: 0;
		width: 0;

		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;

		border-left: @selecter-caret-size solid transparent;
		border-right: @selecter-caret-size solid transparent;
		border-top: @selecter-caret-size solid @selecter-caret-color;
		content: '';
		display: block;
		margin: auto 0;
	}
}

.no-touch .selecter-selected:hover {
	color: @selecter-hover-text-color;
}

.no-touch .selecter.disabled .selecter-selected:hover {
	color: @selecter-disabled-text-color;
}


	// .selecter-options

.selecter-options {
	width: 100%;
	max-height: @selecter-max-height;

	position: absolute;
	top: 100%;
	left: 0;

	border: @selecter-border-width solid @selecter-border-color;
	border-width: 0 @selecter-border-width @selecter-border-width;
	background-color: @selecter-options-background-color;
	display: none;
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	padding: 0;
	z-index: 50;

	& when not (@selecter-border-radius-outside = 0) {
		border-radius: 0 0 @selecter-border-radius-outside @selecter-border-radius-outside;
	}

	& when not (@selecter-options-box-shadow = none) {
		box-shadow: @selecter-options-box-shadow;
	}

	// Scroller support

	&.scroller {
		position: absolute;
	}

	// - IE8 - opacity check

	.no-opacity & {
		width: auto;
	}
}


// .selecter-group

.selecter-group {
	border-bottom: @selecter-border-width solid @selecter-group-border-color;
	color: @selecter-group-text-color;
	display: block;
	font-size: @selecter-group-font-size;
	padding: @selecter-group-padding;
	text-transform: @selecter-group-text-transform;
}


// .selecter-item

.selecter-item {
	width: 100%;

	background: @selecter-item-background-color;
	border-bottom: @selecter-item-border-width solid @selecter-item-border-color;
	color: @selecter-item-text-color;
	cursor: pointer;
	display: block;
	font-size: @selecter-item-font-size;
	margin: 0;
	overflow: hidden;
	padding: @selecter-item-padding;
	text-decoration: none;
	text-overflow: ellipsis;

	&.placeholder {
		display: none;
	}

	&.selected {
		background: @selecter-item-selected-color;
	}

	&.disabled {
		color: @selecter-item-disabled-text-color;
		cursor: default;
	}

	& when not (@selecter-border-radius-inside = 0) {
		&:first-child {
			border-radius: 0;
		}
	}

	&:last-child {
		border-bottom: 0;

		& when not (@selecter-border-radius-inside = 0) {
			border-radius: 0 0 @selecter-border-radius-inside @selecter-border-radius-inside;
		}
	}

	.no-touch &:hover,
	.no-touch &.selected:hover {
		color: @selecter-item-hover-text-color;
		background-color: @selecter-item-hover-background-color;
	}

	&.disabled,
	.no-touch &.disabled:hover {
		color: @selecter-disabled-text-color;
		background-color: @selecter-disabled-background-color;
	}
}


// .selecter.open

.selecter.open {
	z-index: 3;

	.selecter-selected {
		z-index: 51;

		& when not (@selecter-border-radius-outside = 0) {
			border-radius: @selecter-border-radius-outside @selecter-border-radius-outside 0 0;
		}
	}
}

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
	background-color: @selecter-open-background-color;

	& when not (@selecter-selected-box-shadow = none) {
		box-shadow: @selecter-selected-box-shadow;
	}
}


// .selecter.cover .selecter-options

.selecter.cover {

	.selecter-options {
		border-width: @selecter-border-width;
		top: 0;

		& when not (@selecter-border-radius-outside = 0) {
			border-radius: @selecter-border-radius-outside;

			.selecter-item.first {
				border-radius: @selecter-border-radius-outside @selecter-border-radius-outside 0 0;
			}
		}
	}

	&.open .selecter-selected {
		z-index: 49;

		& when not (@selecter-border-radius-outside = 0) {
			border-radius: @selecter-border-radius-outside @selecter-border-radius-outside 0 0;
		}
	}
}


// .selecter.bottom

.selecter.bottom {

	.selecter-options {
		top: auto;
		bottom: 100%;

		border-width: @selecter-border-width @selecter-border-width 0;
	}

	.selecter-item:last-child {
		border: none;
	}

	& when not (@selecter-border-radius-outside = 0) {

		// .selecter.bottom.open

		&.open {

			.selecter-selected {
				border-radius: 0 0 @selecter-border-radius-outside @selecter-border-radius-outside;
			}

			.selecter-options {
				border-radius: @selecter-border-radius-outside @selecter-border-radius-outside 0 0;
			}
		}
	}


	// .selecter.bottom.cover

	.cover {

		.selecter-options {
			top: auto;
			bottom: 0;
		}

		& when not (@selecter-border-radius-outside = 0) {

			// .selecter.bottom.cover.open

			&.open {

				.selecter-selected {
					border-radius: @selecter-border-radius-outside;
				}

				.selecter-options {
					border-radius: @selecter-border-radius-outside;
				}
			}
		}
	}
}


// .selecter-multiple .selecter-options

.selecter.multiple .selecter-options {
	width: 100%;

	position: static;

	border-width: @selecter-border-width;
	display: block;

	& when not (@selecter-border-radius-outside = 0) {
		border-radius: @selecter-border-radius-outside;
	}

	& when not (@selecter-options-box-shadow = none) {
		box-shadow: none;
	}
}


// .selecter.disabled

.selecter.disabled {

	.selecter-selected {
		background: @selecter-disabled-background-color;
		border-color: @selecter-disabled-border-color;
		color: @selecter-disabled-text-color;
		cursor: default;
	}

	.selecter-options {
		background: @selecter-disabled-background-color;
		border-color: @selecter-disabled-border-color;
	}

	.selecter-group,
	.selecter-item {
		border-color: @selecter-disabled-border-color;
		color: @selecter-disabled-text-color;
		cursor: default;
	}

	.selecter-item.selected,
	.no-touch & .selecter-item.selected:hover {
		background: @selecter-disabled-selected-background-color;
	}

	& .selecter-item,
	.no-touch & .selecter-item:hover {
		color: @selecter-disabled-text-color;
		background-color: @selecter-disabled-background-color;
	}
}


// .selecter-options.scroller

.selecter-options.scroller {
	overflow: hidden;

	.scroller-content {
		max-height: @selecter-max-height;

		padding: 0;
	}
}

// Media queries

.selecter when (@selecter-max-width = true) {

	@media screen and (max-width: 740px) {
		max-width: 40%;
	}

	@media screen and (max-width: 500px) {
		max-width: 100%;
	}
}