// * ================================= *
// *  Forms
// * ================================= *

// remove spinners
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, {
	-webkit-appearance: none;
}


// default style
input.input,
textarea.input {
	border: @input-border-width solid @gray-l1;
	border-radius: none;
	padding: (10px - @input-border-width) 10px;
	margin: 5px 0;
	font-size: @input-font-size;
	line-height: 1em;
	transition: box-shadow .15s, border-color .15s, background-color .15s;
	box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
	appearance: none;
	outline: none;

	&:hover {
		border-color: darken(@gray-l1,10%);
	}

	&:focus {
		border-color: @primary-accent-color;
		.drop-shadow-light;
	}

	.dark &, &.ondark {
		border-color: @gray;
		background-color: fadeout(@black,60%);
		
		&:hover {
			border-color: @gray-l1;
		}
		&:focus {
			border-color: @primary-accent-color;
			background-color: fadeout(@black,30%);
		}
	}
}

textarea.input {
	min-height: 60px;
	min-width: 250px;
}

.dark {
	input, textarea, label {
		color: #fff;
	}
}

// attribute styles
input.input,
textarea.input {

	&:invalid, &:invalid:hover {
		border-color: @danger-color;
	}

	&:disabled {
		border-color: @gray-l1;
		background: fadeout(@gray,80%);
	}
}

label.form-label {
	font-size: @input-label-font-size;
	font-weight: 900;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: @input-label-letter-spacing;
	line-height: 1;
	display: block;
	margin: 5px 0;
	padding-right: 5px;
}

.form-caption {
	font-size: @input-caption-font-size;
	color: @gray-d1;
	line-height: 1em;
	margin: 8px 0;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0;
	font-weight: normal;

	label & {
		display: inline-block;
		margin: 0;
		font-size: 1em;
	}
}

// form groups
.form-group {
	width: 100%;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: inherit;
	}

	.form-group {
		margin-bottom: 0;
	}

	label {
		display: block;
		width: 100%;
	}

	input.input,
	textarea.input {
		width: 100%;
		display: block;
	}

}


// input groups
.input-group {
	display: table;
	width: 100%;

	.input-addon {
		width: 1%;
		padding: (10px-@input-border-width) 10px;
		display: table-cell;
		margin: 0;
		background: fadeout(@gray-l2,50%);
		border: @input-border-width solid @gray-l1;
		font-size: @input-font-size;
		line-height: 1em;
		border-right-width: 0;

		.dark &, &.ondark {
			border-color: @gray;
		}
	}

	.input-addon:last-child {
		border-right-width: @input-border-width;
		border-left-width: 0;
	}


	input.input {
		display: table-cell;
		margin: 0;
	}
}


// inline form groups
.form-inline {
	.form-group {
		vertical-align: middle;
		display: inline-block;
		width: auto;
		margin-bottom: inherit;
	}

	.input-group {
		width: auto;
	}

	input[type="checkbox"].checkbox + label,
	input[type="radio"].radiobox + label {
		margin-right: 5px;
	}

	input.input {
		display: inline-block;
		width: auto;
	}

	label {
		display: inline-block;
		width: auto;
	}
}


// checkboxes and radioboxes
input[type="checkbox"].checkbox:checked,
input[type="checkbox"].checkbox:not(:checked),
input[type="radio"].radiobox:checked,
input[type="radio"].radiobox:not(:checked) {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

input[type="checkbox"].checkbox + label,
input[type="radio"].radiobox + label {
	margin: 5px 0;
	position: relative;
	cursor: pointer;
	padding-left: (@checkbox-size + 5px);

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: @checkbox-size;
		height: @checkbox-size;
		border: 2px solid @gray-l1;
		background: #fff;
		border-radius: @checkbox-border-radius;
		box-sizing: border-box;
		transition: 0.2s;
	}

	&:hover:before {
		border-color: darken(@gray-l1,10%);
	}
	&:active:before {
		background: @gray-l2;
		transition-duration: 0;
	}
}

input[type="checkbox"].checkbox:focus + label:before,
input[type="radio"].radiobox:focus + label:before {
	border-color: @primary-accent-color;
}

input[type="checkbox"].checkbox + label,
input[type="radio"].radiobox + label　{
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: @checkbox-size;
		height: @checkbox-size;
		border-radius: @checkbox-border-radius;
		//background-image: data-uri('../assets/checkmark-check.svg');
		background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%0D%0A%3Cpolygon%20fill%3D%22%232a91c2%22%20points%3D%222%2C8%204%2C6%207%2C9%2013%2C3%2015%2C5%207%2C13%22%2F%3E%0D%0A%0D%0A%3C%2Fsvg%3E%0D%0A");
		background-size: cover;
		box-sizing: border-box;
		padding: 0 @checkbox-size 0 0;
		background-clip: content-box;

		& when (@checkbox-disable-animation = false) {
			transition: padding 0.1s;
		}
	}
}

input[type="radio"].radiobox + label　{
	&:after {
		width: @checkbox-size;
		height: @checkbox-size;
		padding: (@checkbox-size / 2);
		background-color: @color-d1;
		.colorset(@checkbox-color);
	}
}

input[type="checkbox"].checkbox:checked + label {
	&:after {
		padding-right: 0;
	}
}

input[type="radio"].radiobox:checked + label　{
	&:after {
		padding: 5px;
	}
}

input[type="checkbox"].checkbox:disabled + label, 
input[type="radio"].radiobox:disabled + label {
	&:before, &:hover:before {
		background: @gray-l2;
		border-color: @gray-l1;
	}
}

// selectboxes
// uses Selecter (https://github.com/Formstone/Selecter)

.selecter {
	position: relative;
	display: block;
	margin: 10px 0;
	z-index: @selectbox-container-z-index;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	&,
	& * {
		user-select: none !important;
	}


	// original select element
	.selecter-element {
		width: 100%;
		height: 100%;

		position: absolute;
		left: 0;

		opacity: 0;
		z-index: @selectbox-original-z-index;

		&,
		&:focus {
			outline: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
		}
	}


	// current selectbox selected
	.selecter-selected {
		position: relative;

		background: #fff;
		border: @selectbox-border-width solid #aaa;
		color: inherit;
		cursor: pointer;
		display: block;
		font-size: 0.9em;
		font-weight: bold;
		margin: 0;
		overflow: hidden;
		padding: 8px 40px 8px 20px;
		text-overflow: clip;
		z-index: @selectbox-selected-z-index;

		transition: border-color .15s, background-color .15s, box-shadow .15s;
		

		// caret
		&:after {
			height: 0;
			width: 0;

			position: absolute;
			top: 0;
			right: 15px;
			bottom: 0;

			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #aaa;
			content: '';
			display: block;
			margin: auto 0;

			transform-style: preserve-3d;
			transition: 0.2s border-color, 0.3s transform;
		}

		&:hover {
			border-color: @selectbox-color;
			
			&:after {
				border-top-color: @selectbox-color;
			}
		}


	}

	// selectbox options
	.selecter-options {
		width: 100%;
		max-height: 250px;

		position: absolute;
		top: 100%;
		left: 0;

		border: @selectbox-border-width solid @gray;
		border-width: 0 @selectbox-border-width @selectbox-border-width;
		background-color: #fff;
		display: none;
		margin: 0;
		overflow: auto;
		overflow-x: hidden;
		padding: 0;
		z-index: @selectbox-options-z-index;


		// optgroup header
		.selecter-group {
			color: #aaa;
			display: block;
			font-size: 0.8em;
			margin: 5px 0 0 0;
			padding: 5px 20px 5px 15px;
			text-transform: uppercase;
			font-weight: bold;

			&:first-child {
				margin-top: 0;
			}
		}


		// selectbox option items
		.selecter-item {
			width: 100%;

			background: #fff;
			color: #333;
			cursor: pointer;
			display: block;
			font-size: 0.9em;
			margin: 0 0 1px 0;
			overflow: hidden;
			padding: 8px 20px;
			text-decoration: none;
			text-overflow: ellipsis;

			&.placeholder {
				display: none;
			}

			&:last-child {
				margin-bottom: 0;
			}
			

			// option hover
			&:hover {
				background-color: rgba(0,0,0,.05);
			}

			&.selected {
				font-weight: bold;
				background: fadeout(@color-l1,80%);
				.colorset(@selectbox-color);

				&:hover {
					background: fadeout(@color-l1,60%);
				}
			}

			&.disabled,
			&.disabled:hover {
				color: #aaa;
				cursor: not-allowed;
			}
		}

	}

	
	// focused state
	&.focus, &:focus { 
		.selecter-selected {
			border-color: @selectbox-color;
			.drop-shadow-light;

			// caret color
			&:after {
				border-top-color: @selectbox-color;
			}
		}

		.selecter-options {
			border-color: @selectbox-color;
			.drop-shadow;
		}
	}

	// open state
	&.open {
		z-index: @selectbox-container-open-z-index;

		.selecter-selected {
			
			// flip caret
			&:after {
				transform: rotateX(180deg);
			}

		}
	}


	// 'cover' style option
	&.cover {

		.selecter-options {
			border-width: @selectbox-border-width;
			border-color: @selectbox-color;
			top: 0;
		}

	}


	// if at bottom of screen
	&.bottom {

		.selecter-options {
			top: auto;
			bottom: 100%;

			border-width: @selectbox-border-width @selectbox-border-width 0;
		}

		.selecter-item:last-child {
			border: none;
		}


		// 'cover' style option
		&.cover {

			.selecter-options {
				top: auto;
				bottom: 0;
			}

		}
	}


	// multiple select
	&.multiple {
		.selecter-options {
			width: 100%;

			position: static;

			border-width: 2px;
			display: block;
		}
	}


	// disabled
	&.disabled {

		.selecter-selected,
		.selecter-selected:hover {
			background: #fff;
			border-color: #ccc;
			color: #ccc;
			cursor: default;
		}
		
		// caret
		.selecter-selected:after {
			border-top-color: #ccc;
		}

		.selecter-options {
			background: #fff;
			border-color: #ccc;
		}

		.selecter-group,
		.selecter-item {
			border-color: #ccc;
			color: #ccc;
			cursor: default;
		}

		.selecter-item.selected,
		.selecter-item.selected:hover {
			background: #fff;
		}

		.selecter-item,
		.selecter-item:hover {
			color: #ccc;
			background-color: #fff;
		}
	}


}// end .selecter
