// * ================================= *
// *  Layout Classes
// * ================================= *

.block {
	display: block;
}
.inline-block {
	display: inline-block;
}

/* basic layout */
.stretch {
	width: 100%;
}
.container {
	width: @container-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (max-width: (@container-width + 40)) {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}

	.unresponsive & {
		width: @container-width;
	}

	.row {
		margin-left: -15px;
		margin-right: -15px;

		.cf;
	}
}


/* columns */
[class^="col-"] {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1 {
	width: 100%;
}
.col-2 {
	float: left;
	width: 50%;
}
.col-3 {
	float: left;
	width: 33.3333%;

	&.colspan-2 {
		width: 66.6666%;
	}
}
.col-4 {
	float: left;
	width: 25%;

	&.colspan-2 {
		width: 50%;
	}
	&.colspan-3 {
		width: 75%;
	}
}

