// * ================================= *
// *  Panels
// * ================================= *


.panel {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

.card {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.05);
	transition: box-shadow 0.2s;

	&.hover-em:hover {
		.drop-shadow-light;
	}
}

span.label,
span.badge {
	background-color: @gray;
	color: #fff;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;

	&.accent {
		background-color: @primary-accent-color;
	}

	&.okay {
		background-color: @okay-color;
	}

	&.warning {
		background-color: @warning-color;
	}

	&.warning {
		background-color: @warning-color;
	}

	&.danger {
		background-color: @danger-color;
	}

	&.white {
		background-color: @white;
		color: @base-font-color;

		&.accent {
			color: @primary-accent-color;
		}

		&.okay {
			color: @okay-color;
		}

		&.warning {
			color: @warning-color;
		}

		&.warning {
			color: @warning-color;
		}

		&.danger {
			color: @danger-color;
		}
	}


}

span.label {
	font-style: italic;
}

span.badge {
	border-radius: 10em;
}