// * ================================= *
// *  Petal.less main file
// * ================================= *

// option variables
@container-width: 980px;
@base-font: "Lato";
@base-font-size: 12pt;
@base-font-color: #333;

// typography
@header-uppercase: true;
@header-letter-spacing: 2px;
@header-font-weight: 900;

// colors
@primary-accent-color: @blue;
@okay-color: @green;
@warning-color: @yellow;
@danger-color: @red;

// buttons 
@btn-font-size: 0.8em;
@btn-font-weight: 900;
@btn-dropdown-menu-item-font-size: 0.9em;
@gray-disabled-btn: false;
@btn-disable-transition: false;
@btn-disable-shadows: false;

// forms 
@input-border-width: 2px;
@input-font-size: 0.9em;
@input-textarea-font-size: 0.8em;
@input-label-font-size: 0.8em;
@input-label-font-weight: 900;
@input-caption-font-size: 0.8em;
@input-label-letter-spacing: 2px;

// checkboxes & radioboxes
@checkbox-size: 20px;
@checkbox-border-width: @input-border-width; //2px
@checkbox-border-radius: 100%;
@radiobox-border-radius: 100%;
@checkbox-color: @primary-accent-color;
@checkbox-disable-animation: false;

// selectbox
@selectbox-border-width: @input-border-width; //2px
@selectbox-color: @primary-accent-color;


// * ================================= *
// *  Import subfiles
// * ================================= *

// import Lato font
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900,900italic,700italic,400italic,300italic,300';

// basics
@import 'mixins.less';
@import 'normalize.less';
@import 'color-palette.less';
@import 'z-index.less';
@import 'basic.less';

// modules
@import 'layout.less';
@import 'colors.less';
@import 'typography.less';
@import 'buttons.less';
@import 'forms.less';
@import 'panels.less';


