// * ================================= *
// *  Typography 
// * ================================= *


h1,h2,h3,h4,h5,h6 {
	margin-top: 20px;
	margin-bottom: 10px;

	small {
		color: @gray;
		font-size: 0.7em;
		font-weight: normal;
		text-transform: none;
		letter-spacing: 0;
	}
}

h1 {
	font-weight: 900;
	font-size: 3em;
}

h2 {
	font-weight: 900;
	font-size: 2em;
}

h3 {
	font-weight: 900;
	font-size: 1.5em;
}

h4 {
	font-weight: 900;
	font-size: 1.25em;

	small {
		font-size: 0.8em;
	}
}

h5 {
	font-weight: 900;
	font-size: 1em;
	margin-bottom: 1.1em;

	small {
		font-size: 0.9em;
	}
}

h6 {
	font-weight: 900;
	font-size: 0.9em;
	margin-bottom: 1em;

	small {
		font-size: 0.9em;
	}
}

h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
}


.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.keepcase {
	text-transform: none;
	letter-spacing: 0;
}

blockquote {
	.colorset(@primary-accent-color);
	border-left: 2px solid @color-l1;
	padding-left: 20px;
	margin-left: 20px;

}
