<h2 id="section-quickmargins">Quick Margins &amp; Paddings</h2>
<p>Use quick preset classes to add margins and paddings to any elements.</p>

<div class="row">
	<div class="col-2">
		<h5>margin (all directions)</h5>
		<ul>
			<li><code>.m-5</code> : 5px margin</li>
			<li><code>.m-10</code> : 10px margin</li>
			<li><code>.m-15</code> : 15px margin</li>
			<li><code>.m-20</code> : 20px margin</li>
		</ul>

		<h5>margin (horizontal)</h5>
		<ul>
			<li><code>.mh-5</code> : 5px left+right margin</li>
			<li><code>.mh-10</code> : 10px left+right margin</li>
			<li><code>.mh-15</code> : 15px left+right margin</li>
			<li><code>.mh-20</code> : 20px left+right margin</li>
		</ul>

		<h5>margin (vertical)</h5>
		<ul>
			<li><code>.mv-5</code> : 5px top+bottom margin</li>
			<li><code>.mv-10</code> : 10px top+bottom margin</li>
			<li><code>.mv-15</code> : 15px top+bottom margin</li>
			<li><code>.mv-20</code> : 20px top+bottom margin</li>
		</ul>

		<h5>margin-top</h5>
		<ul>
			<li><code>.mt-5</code> : 5px top margin</li>
			<li><code>.mt-10</code> : 10px top margin</li>
			<li><code>.mt-15</code> : 15px top margin</li>
			<li><code>.mt-20</code> : 20px top margin</li>
			<li><code>.mt-50</code> : 50px top margin</li>
		</ul>

		<h5>margin-bottom</h5>
		<ul>
			<li><code>.mb-5</code> : 5px bottom margin</li>
			<li><code>.mb-10</code> : 10px bottom margin</li>
			<li><code>.mb-15</code> : 15px bottom margin</li>
			<li><code>.mb-20</code> : 20px bottom margin</li>
			<li><code>.mb-50</code> : 50px bottom margin</li>
		</ul>
	</div>
	<div class="col-2">
		<h5>padding (all directions)</h5>
		<ul>
			<li><code>.p-5</code> : 5px padding</li>
			<li><code>.p-10</code> : 10px padding</li>
			<li><code>.p-15</code> : 15px padding</li>
			<li><code>.p-20</code> : 20px padding</li>
		</ul>

		<h5>padding (horizontal)</h5>
		<ul>
			<li><code>.ph-5</code> : 5px left+right padding</li>
			<li><code>.ph-10</code> : 10px left+right padding</li>
			<li><code>.ph-15</code> : 15px left+right padding</li>
			<li><code>.ph-20</code> : 20px left+right padding</li>
		</ul>

		<h5>padding (vertical)</h5>
		<ul>
			<li><code>.pv-5</code> : 5px top+bottom padding</li>
			<li><code>.pv-10</code> : 10px top+bottom padding</li>
			<li><code>.pv-15</code> : 15px top+bottom padding</li>
			<li><code>.pv-20</code> : 20px top+bottom padding</li>
		</ul>

		<h5>padding-top</h5>
		<ul>
			<li><code>.pt-5</code> : 5px top padding</li>
			<li><code>.pt-10</code> : 10px top padding</li>
			<li><code>.pt-15</code> : 15px top padding</li>
			<li><code>.pt-20</code> : 20px top padding</li>
			<li><code>.pt-50</code> : 50px top padding</li>
		</ul>
		<h5>padding-bottom</h5>
		<ul>
			<li><code>.pb-5</code> : 5px bottom padding</li>
			<li><code>.pb-10</code> : 10px bottom padding</li>
			<li><code>.pb-15</code> : 15px bottom padding</li>
			<li><code>.pb-20</code> : 20px bottom padding</li>
			<li><code>.pb-50</code> : 50px bottom padding</li>
		</ul>
	</div>
</div>