<h2 id="section-tables">Tables</h2>

<h3>Basic table</h3>

<div class="demo-panel form-group gray p-10">
	<label class="form-label">Preview Optional Classes</label>
	<div class="row">
		<div class="col-2 pv-5">
			<span class="chk-switch-label"><code>.table-inner-borders</code></span>
			<div class="chk-switch align-right">
				<input type="checkbox" class="chk-switch" id="table-inner-borders-switch" data-toggle-class="table-inner-borders">
				<label for="table-inner-borders-switch"><span></span></label>
			</div>
		</div>
		<div class="col-2 pv-5">
			<span class="chk-switch-label"><code>.table-outer-borders</code></span>
			<div class="chk-switch align-right">
				<input type="checkbox" class="chk-switch" id="table-outer-borders-switch" data-toggle-class="table-outer-borders">
				<label for="table-outer-borders-switch"><span></span></label>
			</div>
		</div>
		<div class="col-2 pv-5">
			<span class="chk-switch-label"><code>.table-striped</code></span>
			<div class="chk-switch align-right">
				<input type="checkbox" class="chk-switch" id="table-striped-switch" data-toggle-class="table-striped">
				<label for="table-striped-switch"><span></span></label>
			</div>
		</div>
		<div class="col-2 pv-5">
			<span class="chk-switch-label"><code>.table-hover</code></span>
			<div class="chk-switch align-right">
				<input type="checkbox" class="chk-switch" id="table-hover-switch" data-toggle-class="table-hover">
				<label for="table-hover-switch"><span></span></label>
			</div>
		</div>
		<div class="col-2 pv-5">
			<span class="chk-switch-label"><code>.table-condensed</code></span>
			<div class="chk-switch align-right">
				<input type="checkbox" class="chk-switch" id="table-condensed-switch" data-toggle-class="table-condensed">
				<label for="table-condensed-switch"><span></span></label>
			</div>
		</div>
	</div>
</div>
<div class="demo-panel p-15" id="table-demo" data-toggle-bg="toggle">

	<table class="table">
		<caption>Optional Table Caption</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Artist</th>
				<th scope="col">Genre</th>
				<th scope="col">Duration</th>
				<th scope="col">BPM</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Metropolis</td>
				<td>zvuc</td>
				<td>Electro Rock</td>
				<td>1:07</td>
				<td>140</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Nebulae</td>
				<td>zvuc</td>
				<td>Ambient</td>
				<td>1:07</td>
				<td>120</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Caprice</td>
				<td>zvuc</td>
				<td>House</td>
				<td>0:31</td>
				<td>124</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"></td>
				<th scope="row">Total</td>
				<td>3 Songs</td>
			</tr>
		</tfoot>
	</table>
	
	<br>

	<table class="table">
		<colgroup class="fit"></colgroup>
		<colgroup span="3"></colgroup>
		<colgroup></colgroup>
		<thead>
			<tr>
				<th scope="col">ID Number</th>
				<th scope="col">User Name</th>
				<th scope="col">Videos</th>
				<th scope="col">Join Date</th>
				<th scope="col" class="fit nowrap">View User Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>00124</td>
				<td>David</td>
				<td>12</td>
				<td>2012/01/01</td>
				<td><button class="btn compact">View</button></td>
			</tr>
			<tr>
				<td>00125</td>
				<td>Simon</td>
				<td>5</td>
				<td>2013/04/18</td>
				<td><button class="btn compact">View</button></td>
			</tr>
			<tr>
				<td>00128</td>
				<td>Anton</td>
				<td>8</td>
				<td>2014/08/15</td>
				<td><button class="btn compact">View</button></td>
			</tr>
			<tr>
				<td>00131</td>
				<td>Tyler</td>
				<td>15</td>
				<td>2014/05/17</td>
				<td><button class="btn compact">View</button></td>
			</tr>
		</tbody>
	</table>

</div>

<p>Simple table styling is provided when you add <code>.table</code> class to the <code>&lt;table&gt;</code> element. Append optional classes as needed on the table element.</p>

<h5>Options</h5>

<ul>
	<li><code>.table-inner-borders</code> : Add inner vertical borders inbetween cells</li>
	<li><code>.table-outer-borders</code> : Add outer border around the table</li>
	<li><code>.table-striped</code> : Alternating row background colors</li>
	<li><code>.table-hover</code> : Highlight background color of row when hovered</li>
	<li><code>.table-condensed</code> : Reduce vertical padding of cells</li>
</ul>

<br>

<h5>Adjusting column widths</h5>

<p>Add <code>.fit</code> class to <code>&lt;colgroup&gt;</code>, <code>&lt;col&gt;</code>, <code>&lt;th&gt;</code> or <code>&lt;td&gt;</code> to shrink the width of the column to the minimum. This will likely cause line breaks in long text strings: to prevent, <code>.nowrap</code> on <code>&lt;th&gt;</code> or <code>&lt;td&gt;</code> tags. (Note: Adding <code>.nowrap</code> to <code>&lt;colgroup&gt;</code> or <code>&lt;col&gt;</code> won't have any effect.)</p>

<br>

