---
title: Start
area: start
section: start
---

<h3>Setting up Petal</h3>
<h5 class="keepcase" id="setup-petal-method01">Method 1 : The Quick Way</h5>
<p>Include the line below inside the <code>&lt;head&gt;</code> of your HTML file. Place it before any other site page stylesheets.</p>

<div class="code-block">
{{#markdown}}
``` html
<link rel="stylesheet" type="text/css" href="https://petalcdn.shakr.com/edge/petal.min.css">
```
{{/markdown}}
</div>

<p>The CDN link will provide the latest build version of Petal.</p>

<p>Now you can use all the Petal classes and styles in your project.</p>

<br>

<h5 class="keepcase" id="setup-petal-method02">Method 2 : Custom Building</h5>
<p>If you want to build your own version of Petal with custom settings, clone the <a href="https://github.com/ShakrMedia/petal">Petal repository</a>. Change whatever options you want to change in <code>custom-variables.less</code> file to fit the look and preference of your project design, set up <a href="http://gruntjs.com/getting-started">Grunt</a> and run it to build the CSS file.</p>

<p>Add the built CSS file to your HTML head then you're ready to go.</p>

<br>

<h5 class="keepcase" id="setup-petal-method03">Method 3 : Complete Integration</h5>
<p>An even better way to take full advantage of Petal is to include the whole Petal package into your project itself. If you do this, not only can you use Petal the same way like you would through methods above, but you'll also be able to use Petal classes and styles as LESS mixins so that you can utilize them in your project stylesheets.</p>

<p>To do this, your project must be using LESS (for obvious reasons) and have a compiler set up. Clone the <a href="https://github.com/ShakrMedia/petal">Petal repository</a> to a folder in your project directory. Have a base 'master' stylesheet and import <code>petal.less</code> in it along with your other project stylesheets. Or if you don't have a modularized project stylesheet structure, just importing <code>petal.less</code> on top of your <code>style.less</code> is also fine.</p>

<div class="code-block">
{{#markdown}}
``` less
@import 'path/to/src/petal.less';
```
{{/markdown}}
</div>

<p>To reduce size of compiled stylesheet you can decide to import only specific parts of Petal like <code>buttons.less</code>, but then you have to make sure all the required mixins classes and variables are provided and accessible in your base stylesheet.</p>