<section id="landing" class="hero">
	<div class="container">
		
			<div class="logo">
				<div class="logo-wrap">
					<span class="petal-logo large"></span>
				</div>
			</div>
			<h1 class="hero-title">Petal</h1>
			<p class="hero-sub">A modern, light CSS UI framework developed at Shakr.<br>Based on LESS.</p>	

			<a href="{{package.repository.url}}releases/latest" class="btn red get-btn">Get latest version</a>
			<p class="version">v{{package.version}} - {{now "%Y-%m-%d"}}</p>
		
	</div>
</section>

<section class="credits">
	<div class="container">
		<h6>Petal includes:</h6>
		<p><a href="http://necolas.github.io/normalize.css/">normalize.css</a> by Nicolas Gallagher &amp; Jonathan Neal (MIT License). <br>
		<a href="https://github.com/Formstone/Selecter">Selecter</a> jQuery Plugin by Ben Plum (MIT License).
		<br>
		<a href="http://www.google.com/fonts/specimen/Lato">Lato font</a> by Łukasz Dziedzic (SIL OFL 1.1) as the default font, hosted on Google Fonts.</p>
	</div>
</section>