<footer class="stretch">
    <div class="container">
        <div class="credits">
            <h4>Credits</h4>
            <p>{{package.name}} v{{package.version}} - {{now "%Y-%m-%d"}}</p>
            <p>An open source project by <a href="http://shakr.com">Shakr</a></p>
            <p>©2015-{{now "%Y"}} Shakr. Released under the <a href="http://opensource.org/licenses/MIT"> MIT License</a>.</p>
        </div>
    </div>
</footer>