<h2 id="section-buttons">Buttons</h2>
			
<p>Petal features a complex button style generator inside the LESS code to make adding new color sets as simple as possible.</p>

<br>

<h3>Basic Button</h3>
<div class="demo-panel p-15">
	<div class="block">
		<a href="#" class="btn">Button</a>
		<p class="inline-block clabel"><code>.btn</code></p>
	</div>
</div>

<p>To make a button, simply add the <code>.btn</code> class, presumably to an <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> element. The default color is blue, and some preset colors provided are demonstrated below:</p>

<br>

<div class="demo-panel p-15 cf" data-toggle-bg="toggle">
<div class="row">
	<div class="col-2">
		<h5>Default</h5>
		<div class="block">
			<a href="#" class="btn">Button</a>
			<p class="inline-block clabel"><code>.btn</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn blue">Button</a>
			<p class="inline-block clabel"><code>.btn.blue</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn green">Button</a>
			<p class="inline-block clabel"><code>.btn.green</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn red">Button</a>
			<p class="inline-block clabel"><code>.btn.red</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn black">Button</a>
			<p class="inline-block clabel"><code>.btn.black</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn white">Button</a>
			<p class="inline-block clabel"><code>.btn.white</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn disabled">Button</a>
			<p class="inline-block clabel"><code>.btn.disabled</code></p>
		</div>
	</div>
	<div class="col-2">
		<h5>Hollow</h5>
		<div class="block">
			<a href="#" class="btn hollow">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow blue">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.blue</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow green">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.green</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow red">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.red</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow black">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.black</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow white">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.white</code></p>
		</div>
		<div class="block">
			<a href="#" class="btn hollow disabled">Button</a>
			<p class="inline-block clabel"><code>.btn.hollow.disabled</code></p>
		</div>
	</div>
</div>
</div>

<h5>Options</h5>

<ul>
	<li><code>.hollow</code> : Hollow style alternative</li>
	<li><code>.disabled</code> OR <code>:disabled</code> (attribute) : Disabled state</li>
	<li><code>.ondark</code> on button OR <code>.dark</code> on parent : Alternative style on dark backgrounds</li>
	<li><code>.whitetext</code> : Force white text on buttons</li>
	<li><code>.compact</code> : Smaller sized buttons with reduced padding</li>
</ul>

<br>

<h5>Generating additional color sets</h5>

<p>You can add new button colors easily. First add your color as a variable in <b>color-palette.less</b> then add a line in <b>buttons.less</b>.</p>

<div class="demo-code">
{{#markdown}}
``` less
// Add colors here
&.my-color    { .generate-btn('my-color') }
&.my-color2   { .generate-btn('my-color2'; 'custom') }
```
{{/markdown}}
</div>

<p>The 'custom' option is provided for when you want to specify the l1, l2, d1, d2 shades manually. Define all 5 variables including base color in <b>color-palette.less</b> and append the <code>'custom'</code> option at the end.</p>

<br>

<h3>Button groups</h3>
<div class="demo-panel p-15" data-toggle-bg="toggle">
	<div class="btn-group">
		<button class="btn">Button</button>
		<button class="btn green">Button</button>
		<button class="btn red">Button</button>
	</div>
</div>

<p>Put the <code>.btn</code>s inside a <code>.btn-group</code> and they will become inline blocks.</p>

<br>

<h3>Segmented button groups</h3>
<div class="demo-panel p-15" data-toggle-bg="toggle">
	<div class="btn-group btn-group-segmented">
		<button class="btn hollow active" data-toggle="toggle" data-toggle-state="active">Button</button>
		<button class="btn hollow" data-toggle="toggle">Button</button>
		<button class="btn hollow disabled" data-toggle="toggle">Button</button>
	</div>
</div>

<p>Add <code>.btn-group-segmented</code> with <code>.btn-group</code> to remove the space inbetween buttons in a button group to make them visually look like segmented buttons. Petal doesn't provide preset functions for segmented buttons, however. You'll need to manually write your javascript code to make them actually work--or, use the <a href="#section-forms-segmented-radio">radiobox method below</a>.</p>

<p>Use <code>.disabled</code> class on buttons to disable each buttons, or add <code>.disabled</code> on the <code>btn-group</code> to disable the whole group.</p>

<br>

<h3>Toggle Buttons</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
	<div class="btn-group">	
		<button class="btn hollow blue toggle active" data-toggle="toggle" data-toggle-state="active">Toggle</button>
		<button class="btn hollow blue toggle" data-toggle="toggle">Toggle</button>
		<button class="btn hollow blue toggle" data-toggle="toggle">Toggle</button>
		<button class="btn green toggle" data-toggle="toggle">Toggle</button>
		<button class="btn red toggle" data-toggle="toggle">Toggle</button>
	</div>
</div>

<p>Add <code>data-toggle="toggle"</code> on the button to make it toggleable.</p>

<br>

<h3>Button Dropdowns</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
	<div class="btn-group">
		<div class="btn-group">
			<button class="btn dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
				<li class="divider"></li>
				<li><a href="#">Menu item 3</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button class="btn hollow dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
				<li class="divider"></li>
				<li class="submenu">
					<a href="#">Submenu 1</a>
					<ul class="dropdown-menu">
						<li><a href="#">Submenu item 1</a></li>
						<li><a href="#">Submenu item 2</a></li>
					</ul>
				</li>
				<li><a href="#">Menu item 3</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button class="btn green dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
				<li class="divider"></li>
				<li><a href="#">Menu item 3</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button class="btn hollow green dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
				<li class="divider"></li>
				<li class="submenu">
					<a href="#">Submenu 1</a>
					<ul class="dropdown-menu">
						<li><a href="#">Submenu item 1</a></li>
						<li><a href="#">Submenu item 2</a></li>
					</ul>
				</li>
				<li><a href="#">Menu item 3</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button class="btn red dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
				<li class="divider"></li>
				<li><a href="#">Menu item 3</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group">
  <button class="btn hollow dropdown" data-toggle="dropdown">Menu <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Menu item 1</a></li>
    <li><a href="#">Menu item 2</a></li>
    <li class="divider"></li>
    <li class="submenu">
      <a href="#">Submenu 1</a>
      <ul class="dropdown-menu">
        <li><a href="#">Submenu item 1</a></li>
        <li><a href="#">Submenu item 2</a></li>
      </ul>
    </li>
    <li><a href="#">Menu item 3</a></li>
  </ul>
</div>
```
{{/markdown}}
</div>

<p>Attach a <code>&lt;ul&gt;</code> structured list menu with appropriate markups right after the <code>.btn</code>. The <code>.dropdown</code> class and <code>data-toggle="dropdown"</code> attributes are required to activate the toggle function. </p>	

<p>The <code>.btn-group</code> class on parent element is not required but is recommended for better layout.</p>

<br>

<h4>Split button variant</h4>

<div class="demo-panel p-15" data-toggle-bg="toggle">
	<div class="btn-group">
		<div class="btn-group">
			<button class="btn green">Button</button>
			<button class="btn green dropdown" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu" data-dropdown-align="right">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn red">Button</button>
			<button class="btn red dropdown" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu" data-dropdown-align="right">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn blue hollow">Button</button>
			<button class="btn blue hollow dropdown" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu" data-dropdown-align="right">
				<li><a href="#">Menu item 1</a></li>
				<li><a href="#">Menu item 2</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<div class="btn-group">
  <button class="btn green">Button</button>
  <button class="btn green dropdown" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu" data-dropdown-align="right">
    <li><a href="#">Menu item 1</a></li>
    <li><a href="#">Menu item 2</a></li>
  </ul>
</div>
```
{{/markdown}}
</div>

<p>Create two <code>.btn</code>s and insert <code>span.caret</code> and the required <code>.dropdown</code> class and <code>data-toggle="dropdown"</code> attributes to the second one. </p>

<p>In this case, the <code>.btn-group</code> class on parent element is <b>required</b> for correct appearance.</p>

<p>If you're using the <code>.compact</code> option, you need to apply them to both the actual button and the dropdown caret button.</p>

<h5>Options</h5>
<p>Add <code>data-dropdown-align="right"</code> on <code>ul.dropdown-menu</code>to right align the menu.</p>


<br>


<h4>Buttons with spinners</h4>

<div class="demo-panel p-15" data-toggle-bg="toggle">
	<label class="form-label">Spinner/Icons on left</label>
	<div class="btn-group">
		<button class="btn green spinner" data-btn-type="save">Apply</button>
		<button class="btn spinner has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
		<button class="btn spinner white has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
	</div>
	<div class="btn-group">
		<button class="btn compact green spinner" data-btn-type="save">Apply</button>
		<button class="btn compact spinner has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
		<button class="btn compact spinner white has-icon" data-btn-type="save"><i class="petalicon petalicon-save"></i> Save</button>
	</div>

	<br>

	<label class="form-label">Spinner/Icons on right</label>
	<div class="btn-group">
		<button class="btn green spinner icon-right" data-btn-type="save">Apply</button>
		<button class="btn spinner icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
		<button class="btn spinner white icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>

	</div>
	<div class="btn-group">
		<button class="btn compact green spinner icon-right" data-btn-type="save">Apply</button>
		<button class="btn compact spinner icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
		<button class="btn compact spinner white icon-right has-icon" data-btn-type="save">Save <i class="petalicon petalicon-save"></i></button>
	</div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<!-- Plain button -->
<button class="btn spinner">Save</button>

<!-- With preexisting icon -->
<button class="btn spinner icon-right has-icon">Save <i class="petalicon petalicon-save"></i></button>

```
{{/markdown}}
</div>


<p>Spinners inside buttons are useful when you want to indicate progress following the action called by the button. Just add <code>.spinner</code> class on a <code>.btn</code>, then dynamically append <code>.loading</code> class with javascript to insert an animated spinner.</p>

<p>As the example above, after the progress is finished you can change the <code>.loading</code> class to <code>.loading-done</code> before removing class to indicate end of progress.</p>

<h5>Options</h5>

<ul>
	<li><code>.has-icon</code> : Use when button already has a Petalicon icon in it (only works for <code>&lt;i class="petalicon ~"&gt;</code>) </li>
	<li><code>.icon-right</code> : Display spinner on the right / when an icon already exists inside the button (after text)</li>
</ul>

<p><b>Note:</b> Hollow style icons are not supported. Compact size icons are supported. When generating custom-colored icons with lighter colors where text is not white, spinner may not appear.</p>

<br>

<h4>Customizable LESS variables</h4>
<div class="demo-code">
{{#markdown}}
``` less
// buttons 
@btn-font-size: 0.8em;
@btn-dropdown-menu-item-font-size: 0.9em;
@gray-disabled-btn: false;
@btn-disable-transition: false;
@btn-disable-shadows: false;
```
{{/markdown}}
</div>