<h2 id="section-colors">Colors</h2>
<p>Petal offers shades of the 3 colors from the Shakr color scheme.</p>
<div class="row">
	<div class="col-3">
		<h5>Text colors</h5>
		<p><div class="colorblock text-red-l2">Text</div><code>.text-red-l2</code></p>
		<p><div class="colorblock text-red-l1">Text</div><code>.text-red-l1</code></p>
		<p><div class="colorblock text-red">Text</div><code>.text-red</code></p>
		<p><div class="colorblock text-red-d1">Text</div><code>.text-red-d1</code></p>
		<p><div class="colorblock text-red-d2">Text</div><code>.text-red-d2</code></p>
	</div>
	<div class="col-3">
		<h5>Background colors</h5>
		<p><div class="colorblock bg-green-l2">Text</div><code>.bg-green-l2</code></p>
		<p><div class="colorblock bg-green-l1">Text</div><code>.bg-green-l1</code></p>
		<p><div class="colorblock bg-green">Text</div><code>.bg-green</code></p>
		<p><div class="colorblock bg-green-d1">Text</div><code>.bg-green-d1</code></p>
		<p><div class="colorblock bg-green-d2">Text</div><code>.bg-green-d2</code></p>
	</div>
	<div class="col-3">
		<h5>Also, blue</h5>
		<p><div class="colorblock bg-blue-l2">Text</div><code>.bg-blue-l2</code></p>
		<p><div class="colorblock bg-blue-l1">Text</div><code>.bg-blue-l1</code></p>
		<p><div class="colorblock bg-blue">Text</div><code>.bg-blue</code></p>
		<p><div class="colorblock bg-blue-d1">Text</div><code>.bg-blue-d1</code></p>
		<p><div class="colorblock bg-blue-d2">Text</div><code>.bg-blue-d2</code></p>
	</div>
</div>