<h2 id="section-petalicon">Petalicons</h2>

<div class="demo-panel ph-15 petalicon-demo">
	<div class="row inner-wrap">
		<div class="icon-block col-4"><i class="petalicon petalicon-chevron-up"></i><span>chevron-up</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-chevron-right"></i><span>chevron-right</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-chevron-bottom"></i><span>chevron-bottom</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-chevron-left"></i><span>chevron-left</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-check"></i><span>check</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-cross"></i><span>cross</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-plus"></i><span>plus</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-minus"></i><span>minus</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-scissor"></i><span>scissor</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-copy"></i><span>copy</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-paste"></i><span>paste</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-replace"></i><span>replace</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-crop"></i><span>crop</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-rotate"></i><span>rotate</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-zoomin"></i><span>zoomin</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-zoomout"></i><span>zoomout</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-eye"></i><span>eye</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-upgrade"></i><span>upgrade</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-trash"></i><span>trash</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-check-round"></i><span>check-round</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-warning"></i><span>warning</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-exclamation"></i><span>exclamation</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-clock"></i><span>clock</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-stopwatch"></i><span>stopwatch</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-edit-video"></i><span>edit-video</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-import"></i><span>import</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-download"></i><span>download</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-round"></i><span>play-round</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-video"></i><span>video</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-help"></i><span>help</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-share"></i><span>share</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-publish"></i><span>publish</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-lock-locked"></i><span>lock-locked</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-lock-unlocked"></i><span>lock-unlocked</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-filter"></i><span>filter</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-collection"></i><span>collection</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-heart"></i><span>heart</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-pencil"></i><span>pencil</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-title"></i><span>title</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-user-round"></i><span>user-round</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play"></i><span>play</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-ff"></i><span>play-ff</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-back"></i><span>play-back</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-rw"></i><span>play-rw</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-stop"></i><span>play-stop</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-play-pause"></i><span>play-pause</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-image"></i><span>item-image</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-video"></i><span>item-video</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-text"></i><span>item-text</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-image-nobg"></i><span>item-image-nobg</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-video-nobg"></i><span>item-video-nobg</span></div>
		<div class="icon-block col-4"><i class="petalicon petalicon-item-text-nobg"></i><span>item-text-nobg</span></div>
	</div>
</div>

<p>Petalicons is an icon set with over 50 original icons included in Petal. All icons are in vector SVG format packed into one font file. Use them the same way you would do with <a href="http://getbootstrap.com/components/#glyphicons">Bootstrap Glyphicons</a>, using the <code>.petalicon</code> base class and the class for the specific icon. All icon classes should have the <code>.petalicon-</code> prefix.</p>


<div class="demo-code">
{{#markdown}}
``` html
<i class="petalicon petalicon-zoomin"></i>
<i class="petalicon petalicon-zoomout"></i>
```
{{/markdown}}
</div>

<p>You can apply the petalicon classes to elements other than <code>&lt;i&gt;</code> too, but you generally shouldn't have any text or other elements inside the tags. The icons use the <code>:before</code> pseudo-element to insert unicode characters that are replaced by the icon font glyphs.</p>

<p>The icons require external icon font files to be loaded properly, so make sure the file path set by the <code>@petalicon-file-path</code> variable in petal.less file is valid.</p>

<br>

<h5>Inserting icons through LESS stylesheets</h5>
<p>The Petalicon LESS stylesheet file is written in the way that you can also use them as LESS mixin classes inside your project stylesheet.</p>

<p>If you're following <a href="#setup-petal-method03">Setup Method 3</a> above you don't need to set up anything else; if not, you'll need include at least the <code>petalicon.less</code> file and define the <code>@petalicon-file-path</code> variable in your stylesheet so that the icon font files will load properly. Once it's included, you can easily call the icon classes as mixins to add and manipulate icons in your project without having to set icons explicitly in HTML markup.</p>

<div class="demo-code">
{{#markdown}}
``` html
<!-- HTML code -->
<div class="lock-state-indicator locked">
	<i class="petalicon"></i>
	<span class="text-label">Locked</span>
</div>
```

``` less
// LESS code
.lock-state-indicator {
	&.unlocked {
		.petalicon:before {
			.petalicon-lock-unlocked;
		}
	}

	&.locked {
		.petalicon:before {
			.petalicon-lock-locked;
		}
	}
}

```
{{/markdown}}
</div>

<p>Like so, you can dynamically set which icons will be displayed depending on the class of parent element. Make sure you're calling the mixins inside a <code>:before</code> pseudo element.</p>

<br>

<h5>Completely dynamic insertion</h5>
<div class="demo-panel p-15">
	<div class="dynamic-icon-container">Label Text</div>
</div>
<div class="demo-code">
{{#markdown}}
``` html
<!-- HTML code -->
<div class="dynamic-icon-container">Label Text</div>
```

``` less
// LESS code
@petalicon-file-path: '../assets';
@import "./less/petalicon.less";

.dynamic-icon-container:before {
	.petalicon;
	.petalicon-check-round;
	font-size: 40px;
	background: #eee;
	color: #f05a67;
}

```
{{/markdown}}
</div>

<p>Another way is to insert the icon completely dynamically by using just the pseudo-elements like the example above. Call the <code>.petalicon</code> and <code>.petalicon-<i>{icon-name}</i></code> classes as mixins inside the <code>:before</code> pseudo selector to insert the icon.</p>

<br> 

<h5>Managing icon size and alignment</h5>
<p>The icons are are all designed on a 20px grid and fine-tuned to match the pixel grid. The <code>.petalicon</code> class strictly defines the icons as 20px size by default to ensure icons stay sharp at small sizes. In cases you want to resize icons, you must target the <code>.petalicon:before</code> pseudo element and manually override <code>font-size</code>.</p>

<div class="demo-panel ph-15">
	<div class="row">
		<div class="p-15 col-2">
			<div class="pv-5"><i class="petalicon petalicon-clock"></i> Default alignment</div>
		</div>
		<div class="p-15 col-2">
			<div class="pv-5"><i class="petalicon petalicon-clock" style="vertical-align: middle;"></i> <span style="vertical-align: middle;">vertical-align: middle</span></div>
		</div>
	</div>
</div>

<p>In most cases, petalicons will align to the baseline of the text line. In case you want to manually align items vertically, apply <code>vertical-align: middle</code> to both the icon and text.</p>
