<h2 id="section-tables">Tables</h2>

<h3>Basic table</h3>

<div class="demo-panel p-15" data-toggle-bg="toggle">
	
	<table class="table table-inner-borders">
		<caption>Optional table caption.</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Artist</th>
				<th scope="col">Genre</th>
				<th scope="col">Duration</th>
				<th scope="col">BPM</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Metropolis</td>
				<td>zvuc</td>
				<td>Electro Rock</td>
				<td>1:07</td>
				<td>140</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Nebulae</td>
				<td>zvuc</td>
				<td>Ambient</td>
				<td>1:07</td>
				<td>120</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Caprice</td>
				<td>zvuc</td>
				<td>House</td>
				<td>0:31</td>
				<td>124</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"></td>
				<th scope="row">Total</td>
				<td>3 Songs</td>
			</tr>
		</tfoot>
	</table>

</div>
<div class="demo-code">
{{#markdown}}
``` html
<table class="table panel">
	<caption>Optional table caption.</caption>
	<thead>
		<tr>
			<th scope="col">...</th>
			...
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>...</td>
			...
		</tr>
		...
	</tbody>
</table>

```
{{/markdown}}
</div>


<p>Tables WIP</p>

<br>

