<h2 id="section-typography">Typography</h2>

<h4>Paragraphs</h4>
<div class="demo-panel p-20">
	<h1>h1. Lorem Ipsum <small>Small caption</small></h1>
	<h2>h2. Lorem Ipsum <small>Small caption</small></h2>
	<h3>h3. Lorem Ipsum <small>Small caption</small></h3>
	<h4>h4. Lorem Ipsum <small>Small caption</small></h4>
	<h5>h5. Lorem Ipsum <small>Small caption</small></h5>
	<h6>h6. Lorem Ipsum <small>Small caption</small></h6>
</div>

<p>Simple stuff. Add <code>&lt;small&gt;</code> for inline captions.</p>

<p>The uppercase style is applied to header paragraph tags starting from <code>&lt;h3&gt;</code>. You can change the default setting by changing the <code>@header-uppercase</code> variable in <b>petal.less</b> to <code>false</code>.</p>

<p>To manually apply the uppercase and wide letter-spacing appearance, use <code>.uppercase</code> and <span class="code">.keepcase</span> if the other way around.</p>

<br>

<h4>Blockquotes</h4>
<div class="demo-panel p-20">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit esse aut quia accusamus? Tempora itaque, culpa adipisci nostrum suscipit libero</p>

	<blockquote>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, ducimus officia excepturi consequuntur magnam praesentium maxime ab dicta reiciendis, odit fuga, suscipit. Eius, dolor, reprehenderit. Dignissimos voluptatum, sint similique fuga?</p>
		<p>Quia voluptas numquam accusantium beatae exercitationem culpa provident itaque fuga repudiandae nostrum placeat, laborum esse dolores velit dolor atque blanditiis molestiae perferendis.</p>
	</blockquote>

	<p>Tempora itaque, culpa adipisci nostrum suscipit libero, nemo illum necessitatibus tempore repellendus at fugiat iusto. Voluptates, similique?</p>
	
</div>

<p><code>&lt;blockquote&gt;</code> stuff.</p>