---
layout: default-layout.hbs
---

<div class="container">
<div class="row">
	<div class="col-4 colspan-3">
		<section>
			{{> body }}
		</section>
	</div>
	<div class="col-4">
		<nav id="sidenav">
			<ul>
				{{#withSort pages "data.list-order"}}
					{{#is data.section "components"}}
						{{!> sidenav-link }}
						<li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}">{{data.title}}</a></li>
					{{/is}}
				{{/withSort}}
			</ul>

			<p>
				<a href="#top" class="totop">Back to top</a>
			</p>

			<button class="btn hollow red" id="btn-demo-toggle" data-toggle="toggle">Toggle Light/Dark</button>
		</nav> 
	</div>
</div>
</div><!-- container end -->
