<div class="container">
<div class="row">
	<div class="col-4 colspan-3">
		<section>
			{{> body }}
		</section>
	</div>
	<div class="col-4">
		<nav id="menu">
			<ul>
				<li><a href="#section-layout">Layout</a></li>
				<li><a href="#section-typography">Typography</a></li>
				<li><a href="#section-quickmargins">Quick Margins &amp; Paddings</a></li>
				<li><a href="#section-colors">Colors</a></li>
				<li><a href="#section-buttons">Buttons</a></li>
				<li><a href="#section-forms">Form elements</a></li>
				<li><a href="#section-tables">Tables</a></li>
				<li><a href="#section-paging">Paging</a></li>
				<li><a href="#section-panels">Panels</a></li>
				<li><a href="#section-modals">Modals</a></li>
				<li><a href="#section-petalicon">Petalicons</a></li>
			</ul>

			<p>
				<a href="#top" class="totop">Back to top</a>
			</p>

			<button class="btn hollow red" id="btn-demo-toggle" data-toggle="toggle">Toggle Light/Dark</button>
		</nav> 
	</div>
</div>
</div><!-- container end -->
